[2018-08-21 13:51] szul opened #4 "Organization, repos, and structure?"
Any reason not to create a GitHub org and add us all to it? Then each project could be broken out into a separate repository without clogging @garypretty's account? If this repository continues to grow, and incorporates, let's say, 10x more extensions, it's going to create overhead for cloning, testing, etc., and might be more difficult to maintain.

My proposal:

* Create a BotBuilder Community G

[2018-08-21 13:56] garypretty commented on #4
@szul I am not opposed to this, but I believe having a GitHub org costs minimum $25 per month for the first 5 users and then an additional $9 per month per user after that.  Hence me creating the repo under my account. Ideally I wanted to see what traction we got before we got into anything commercial.

[2018-08-21 13:58] garypretty commented on #4
@szul Certainly not opposed to creating a separate repos though for node etc. We could rename the one that is there now to botbuilder-community-dotnet and then have a second botbuilder-community-js, which keeps it in line with MS repo naming.  I am not too concerned about having the repos on my account at this stage.  Let me know if you want me to get a JS repo setup and I can get you added.

[2018-08-21 13:59] szul commented on #4
@garypretty I have 4 orgs myself. Never been charged. I think orgs are free unless you want private repos or a business account. [This](https://blog.github.com/2010-06-29-introducing-organizations/) really old blog posts says it's "free for open source".

[2018-08-21 14:01] garypretty commented on #4
Ok. In that case, let me take a look later and I can get the wheels in motion as I think it makes sense.

[2018-08-21 14:09] szul commented on #4
Okay, I'll read up on NPM orgs then. That way, if you decide to go in the orgs direction, both the deployment packages (for Node.JS) and source control are aligned.

[2018-08-21 14:46] garypretty commented on #4
@szul I am going to create an org called BotBuilderCommunity, which happily matches the org name I created on NuGet.  We can then transfer the repo over to this org. What is everyone's thoughts on renaming the current repo to botbuilder-community-dotnet and creating a second botbuilder-community-js? @jamesemann @arafattehsin

[2018-08-21 15:01] garypretty commented on #4
@szul Whilst waiting for the others to come back to me, do you want to go ahead when you get a chance and secure the BotBuilderCommunity org name on NPM when you get a chance?

[2018-08-21 17:11] arafattehsin commented on #4
It's absolutely fine to go for the name as **botbuilder-community-dotnet, botbuilder-community-js** and so on.

[2018-08-21 17:28] jamesemann commented on #4
All makes sense. Think this will be a good way forward 👍 @szul my npm account is jamesemann

[2018-08-21 17:32] szul commented on #4
@jamesemann Done.

[2018-08-21 18:46] garypretty commented on #4
Ok, I am going to move ahead with this move tonight or tomorrow (hopefully tonight). At a high level I don't think it is a problem having a number of extensions etc. within a single repo, in the same way that the bot team have multiple packages within the same repo for the SDK.  I do think it makes sense to split out by language.  To that end I think it also makes sense to have a separate repo for

[2018-08-21 18:56] szul commented on #4
@garypretty I have no problem doing what I can on the Node.JS side, including with the builds and pushes to NPM, etc.

Can you create a botbuilder-community-python repo as well? It's early stages, but I was starting to write a Python version of the botbuilder-config.

[2018-08-21 19:07] garypretty commented on #4
@szul sure, no problem!

[2018-08-21 20:55] garypretty commented on #4
@szul @arafattehsin @jamesemann Ok, all done. Org created - added you all. Created the 3 additional repos and started them with their opening readme titles and paragraphs to keep them consistent.  Looking forward to see what we can do here with this broader view.

[2018-08-21 20:55] #4 closed

[2018-08-23 14:17] garypretty opened #5 "Create a branch tracking latest Bot Builder SDK"
Create a branch that updates the solution to target the latest nightly build, thus allowing us to be as ready as possible when the SDK is code complete / GA. Ill pick this up initially and let you know if I encounter any issues.

[2018-08-24 18:21] garypretty opened #6 "Add recently deprecated .NET AzureTableStorage"
Add the deprecated code from the botbuilder-dotnet repo - the JS version has just been added to the community repo.

[2018-08-24 18:26] szul commented on #6
@garypretty Is this a done deal on the dotnet side too? Shame.

[2018-08-24 19:14] garypretty commented on #6
@szul looks that way. I went and checked when you committed the JS version.

[2018-08-28 09:45] 1110770MiguelSilva opened #7 "Facebook Messenger Handover Protocol with Handle Activity Type Middleware"
Hello.

Is there a way to handle the Handover Protocol from Facebook Messenger using the Handle Activity Type Middleware? I'm having a problem using the protocol, being that I can't recognize when the messages come from FB with the "standby" type so as to ignore them.

https://github.com/Microsoft/BotBuilder/issues/3764

Can you help me with this?

[2018-08-28 09:48] garypretty commented on #7
@1110770MiguelSilva Hi Miguel.  I'll need to dig out my sample for Handover to see if there is anything this middleware can do here.  If not then I should be able to point you in the right direction.  I am going to be stacked today, but give me a nudge here if you don't hear back in the next day or two and I'll do what I can to help.

[2018-08-28 09:49] 1110770MiguelSilva commented on #7
@garypretty Hi. And ok, thank you very much!

[2018-08-29 07:43] Old-T opened #8 "Spell Check Middleware for other languages"
Hi,
How do I make the Spell Check to use swedish dictionary?

// Tommy

[2018-08-29 09:31] garypretty commented on #5
This has now been done - we can merge the branch once the SDK is stable.

[2018-08-29 09:31] #5 closed

[2018-08-29 13:57] jamesemann commented on #8
I'll look at this later today 👍

Swedish is supported https://docs.microsoft.com/en-us/azure/cognitive-services/bing-spell-check/bing-spell-check-supported-languages

[2018-08-29 14:40] garypretty commented on #7
@1110770MiguelSilva @arturrdias I don't have a bot setup with FB handover right now, so hoping you can help me look into this for you. Can one of you grab the ChannelData object on the incoming activity for a standby message and drop it here?  I am curious to see what is in that object.

[2018-08-29 15:05] garypretty opened #9 "Remove community Typing due to duplicating existing SDK functionality"
@jamesemann @arafattehsin There is already a ShowTyping middleware component in the .NET SDK - what extra does the community middleware provide?  If nothing, then I suggest we remove this.

https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/ShowTypingMiddleware.cs

[2018-08-29 15:42] 1110770MiguelSilva commented on #7
@garypretty Do you mean the ChannelData for example in context.activity right? As far as I can tell there's no difference between a message's ChannelData when normal or in standby. I've sent the same message, when in a normal state for the Bot to answer, and after using "Send to Inbox" to supposedly and handover control, when it should be in standby, but gets returned back to the Done folder.

If

[2018-08-29 15:42] garypretty commented on #8
@jamesemann can you reflect any changes in the branch tracking latest as well please?

[2018-08-29 15:47] garypretty commented on #7
@1110770MiguelSilva in that case, then the only way of handling this scenario, as far as I know, is to place a proxy between the bot and Facebook, which accepts the raw Facebook request and then forwards this onto the bot if appropriate (i.e. ignore standby).  This is how I handled it previously.  I think right now, by the time the request reaches you bot it is too late.

[2018-08-29 15:54] 1110770MiguelSilva commented on #7
@garypretty Hum, ok. Do you remember how you did it and could help me to build the proxy? I saw the explanation and the code excerpts in the issue I referenced above, but I couldn't figure out how to actually implement it. Did you build an Azure Function and just put there the code? Never built one, so I'm not sure on how it works.

[2018-08-29 16:18] 1110770MiguelSilva commented on #7
@garypretty I have basically copied this code into the Function:

[code]

I am having errors with using Newtonsoft.Json:
`The type or namespace name 'Newtonsoft' could not be found (are you missing a using directive or an assembly reference?)`

And then with the variables token and targetWebhook. I guess on the last two I should just copy the bot messenger channel Verify Token and Callback URL?

[2018-08-29 22:44] jamesemann commented on #8
I've added this enhancement [here](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/issue8-spellcheck-otherlangs/libraries/Bot.Builder.Community.Middleware.SpellCheck) and should be merged in the next day or so.

@garypretty I've created two PR's for master and the daily tracking branch. Would you be able to review at your convenience

[2018-08-29 22:46] jamesemann commented on #9
Yes I agree - this was ported from my old V3 code and the sdk middleware does the same thing, so happy to remove this. will do so in the next few days

[2018-08-30 14:51] martinkearn opened #12 "Feature Request: Currency prompt"
This is a feature request.

I'd love to a see a Dialog/Prompt for capturing and validating Currency inputs from the user. The closest we have is `NumberPrompt` but that only returns and `Int` which is not great for currency.

I'd like something like the `NumberPrompt` which returns a `Double` (chose a double because Luis returns a double for money entities so it will be consistent).

If I get time

[2018-08-30 14:54] garypretty commented on #12
Great idea. I'd like to see this too and is on my backlog - I will try and work something up for this over the weekend. I might put it straight into our branch which is tracking latest, rather than building for preview as the dialog / prompt APIs have changed significantly. I'll let you know once I have something!

[2018-08-30 17:44] jamesemann commented on #8
@Old-T this has been implemented and will be available once the package has been indexed at 👉https://www.nuget.org/packages/Bot.Builder.Community.Middleware.SpellCheck/1.0.61

Thanks for the feature suggestion and please let me know if you have any issues with it.

[2018-08-30 17:44] #8 closed

[2018-08-30 22:51] garypretty commented on #12
@martinkearn first iteration of the prompt completed.  Right now it should be able to handle input such as "50 dollars", "fifty five pounds" or "£50.50".  I still need to figure out if I can combine multiple resolutions, such as "fifty five pounds and fifty pence", but I suspect that might be a bit more complex - anyway, this should be a good start.

Would love you to take a look and let me know w

[2018-08-31 09:30] 1110770MiguelSilva commented on #7
@garypretty Sorry to keep bothering you, but you think you could help me build the proxy?

[2018-08-31 09:41] garypretty commented on #7
@1110770MiguelSilva Hi, sorry, just been really busy.

Below is a copy of the Azure function I used to create the proxy between FB and the Bot Service.  This, as you can see, will filter out standby events.

[code]

[2018-08-31 10:04] 1110770MiguelSilva commented on #7
@garypretty No problem, and thank you very much!

I'm just having a problem importing the references for HttpTrigger and HttpTriggerAttribute.

![image](https://user-images.githubusercontent.com/3855200/44906669-7beb5300-ad0d-11e8-94e3-2a432c27218d.png)

And after having the function with no errors, how do you setup the Bot to first go to the proxy Function instead of to the BotBuilder?

[2018-09-01 15:47] garypretty commented on #12
@martinkearn as a quick note following up on this - I wanted to point out that rather than simply return a double from the prompt, I am returning a CurrencyPromptResult object, which has two properties.

- Value (type double)
- Unit (type string)

[2018-09-02 11:38] garypretty commented on #12
@martinkearn further update :) I have now removed the CurrencyPrompt, but added a new NumberWithUnitPrompt which allows you to specify the type of number / unit you are looking for.  It supports currency, temperature, age and dimension (e.g. mile, meter etc).

You can see the usage in the new [unit test file](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/currency-prompt/t

[2018-09-03 08:59] 1110770MiguelSilva commented on #7
@garypretty Can you help me just finish with what I think will be the last step to get this functioning? Because I don't know if I might be missing something.

[2018-09-03 12:46] garypretty commented on #7
@1110770MiguelSilva When you configure your Facebook channel, the bot service gives you a webhook URL to use when configuring Facebook. e.g. https://facebook.botframework.com/api/v1/bots/botname.  Instead of using this when configuring Facebook, you should point Facebook to your function and add a querystring ?hub.verify_token=<YOUR_VERIFY_TOKEN>.  You can also  get the verify token from the Azure

[2018-09-03 13:46] 1110770MiguelSilva commented on #7
Yeah, it makes sense, but I don't know why I can't get it to work. And now when I try to save the FB webhook to point to the function, with the ?hub.verify_token=<TOKEN> at the end of the URL, I get this error: "The URL couldn't be validated. Callback verification failed with the following errors: HTTP Status Code = 401; HTTP Message = Unauthorized". And if I don't put the ?verify.token, the bot k

[2018-09-03 14:03] 1110770MiguelSilva commented on #7
@garypretty In here:
![image](https://user-images.githubusercontent.com/3855200/44990730-db559700-af89-11e8-8a80-e9817f5b0f12.png)
Callback URL: <function_url>?code=<function_key>&hub.verify_token=<verify_token>
Verify Token: <Verify_token>

Then the function code:
[code]

I just feel like I must be missing something simple, because I think it's weird that the bot keeps working fine after I change

[2018-09-10 09:03] 1110770MiguelSilva commented on #7
@garypretty Can you see if I'm forgetting something in the configuration?

[2018-09-10 13:08] 1110770MiguelSilva commented on #7
@garypretty From what I'm seeing now from application insights, my messages are passing through the proxy, but they are not being recognized as of type standby after I use the "Move to Inbox" Messenger button, only if I use the Graph API request.

[2018-09-10 14:28] 1110770MiguelSilva commented on #7
Ok, so I finally figured out how to fix this. I had two problems, first I had to change the Authorization level of the function to Anonymous. And then apparently the problem wasn't that I was reacting to the standby messages, but that I wasn't passing thread control when it was requested. So I now look for those kind of requests and act on them.

[code]

[2018-09-10 14:28] #7 closed

[2018-09-12 10:39] garypretty commented on #7
@1110770MiguelSilva Fantastic that you managed to resolve this.

[2018-10-02 20:38] stephanbisser opened #17 "Feature Request: Keyword extraction Middleware"
This is a feature request to log a new feature.

There should be a Middleware component in order to extract keywords of an incoming message and log/store them somewhere (Table Storage, Cosmos DB, ...)

[2018-10-02 20:40] stephanbisser opened #18 "Feature Request: Microsoft Graph Middleware"
A Microsoft Graph Middleware would be useful to run operations against the Graph to get details about users, current emails, files, ...

[2018-10-07 15:07] garypretty commented on #12
@martinkearn I am going to close this issue for now, as the new NumberWithUnit prompt is now part of the repo and available via NuGet. Feel free to reopen if needed.

[2018-10-07 15:07] #12 closed

[2018-10-17 15:34] mathieu-benoit opened #20 "options: LocationOptions.SkipFavorites blocks getting the result"
There is an issue when using the `LocationOptions.SkipFavorites` option, it blocks getting the result.

With this setup:
[code]
and:
[code]
We are not able to get the callback to get the result.

If we remove the `LocationOptions.SkipFavorites` option, we could properly get the result.

[2018-10-25 16:12] cleemullins commented on #18
There is an [ADD/MSGraph Bot Sample] sample (https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/24.bot-authentication-msgraph) that's pretty close to what's you're asking. The sample has implementations in both C# and Node.

The sample is a demonstration of using the OAuth prompts, getting the relevant AAD token, and making queries against the graph.

The sample,

[2018-10-26 01:38] cleemullins commented on #18
@jamesemann Ah. Yes, if there was a user profile (RDF?) store hanging off the MSGraph into which you could assert facts that would be fun. One day, my dream of a user profile store (RDF, OWL, RDFS, etc) hosted in an Azure subscription, into which facts could be asserted and queries could be run will be a reality...

[2018-10-26 01:41] cleemullins commented on #6
The issues we kept running into were becoming overwhelming. The implemention here, for example, bumps into all of the Table store limits on rows and has non-standard handling of eTag semantics.

This results in unexpected behaviors at random times - resulting in "it worked during testing, but failed in production" problems.

For this reason, we believe CosmosDB and/or BlobStorage provide a more pr

[2018-10-26 08:37] garypretty commented on #6
@cleemullins thanks for the insight here Chris. I have been slowly coming to the opinion that we shouldnt take this on anyway. I'm going to close this for now and it can be reopened if people do disagree.

[2018-10-26 08:39] #6 closed

[2018-10-26 18:27] cleemullins opened #22 "Adding community samples?"
Hello BotBuilderCommunity!

We're starting to see samples - good ones! - being authored by the community. For example @rbrogan-git has ported the echobot sample to F#.

What's the groupthink on using the BotBuilderCommunity as a landing zone for community projects &
samples like this? It seems there are two good options:
1. Centralize the samples + extensions, so they're easy to discover. BotBuild

[2018-10-26 18:37] garypretty commented on #22
@cleemullins Thanks for raising this Chris - I do like the idea of hosting great community samples here.  I've been thinking about the fact recently that it would also be good to have samples for the various components we have within this repo too so that we can show usage.

I guess the question comes (which I know you have tackled previously) as to how to structure this.

I think my thoughts woul

[2018-10-26 18:58] garypretty commented on #20
Fixed as part of #23 - @mathieu-benoit will close this now. Please re-open if you are still having an issue.

[2018-10-26 18:58] #20 closed

[2018-10-26 18:59] cleemullins commented on #22
The biggest pros/cons I've seen so far is that automated builds & github branch protections is easier to setup if the repo is just one platform.

For example, mixing C# and JS in a single repo makes doing CI difficult as the builds tend to be different.  If you have different builds, then they both get triggered on each commit. That in turn makes the branch protection rules in github ineffective,

[2018-10-26 19:02] garypretty commented on #22
@cleemullins great point. I hadn't even considered that and I have enough trouble keeping on top of the CI for one platform! I'll have a think - but the more I think about it, the more I like the idea of having the usage samples directly related to the repo in the same place - its just a question of where to put the broader samples.

@szul @jamesemann @arafattehsin @cloudguy-pro feel free to chip

[2018-10-26 19:12] szul commented on #22
I think by putting the samples in the individual repos that they are related to at least keeps us aligned with the Bot Framework team's repos.

[2018-10-26 19:12] cloudguy-pro commented on #22
I‘m with you both I think having a samples folder next to the middleware, dialogs and recognizers folders would be a good point to bundle samples for each language! And we could give the community a place to share cool samples as well for their language of choice...

[2018-10-26 19:15] arafattehsin commented on #22
I think it's good to have relevant samples in the same repo, this would ease our build process as @cleemullins mentioned. Also, it will be easier for developers to find the working examples.

For broader samples like Product team, we can follow the similar *folder* approach which they are following as well.

[2018-10-26 19:15] cloudguy-pro commented on #18
@cleemullins you are right about the fact that it is probably not the beste option to call the Graph on every turn. It would be better to host this as a service like implementation and just call it when needed. I‘m also thinking of doing dialogs which call the graph for things like polling emails, creating SharePoint sites or Teams teams etc...

[2018-10-26 19:19] garypretty commented on #18
@cloudguy-pro @jamesemann can I suggest, if you haven't seen it already, checking out the code within https://github.com/Microsoft/AI/tree/master/solutions/Virtual-Assistant.  They have the idea of skills that can be snapped into a bot - they are essentially collections of dialogs and many of them use the Graph.  They have some good approaches to calling the graph, managing auth etc so might be wo

[2018-10-26 19:30] garypretty commented on #22
Ok, I think we have agreement for now. Samples for each repo within the repo.  Ill be creating a samples folder alongside the libraries folder for the .NET repo in the next few days.  Got some good stuff to release next week and will need a sample to go with it.

[2018-10-26 19:51] cleemullins opened #25 "Public facing standup hosted by the product team?"
Hello BotBuilderCommunity,

Within the product team, we've come to an agreement to do public facing "standup" on a regular basis. I wanted to reach out to this community and solicit some input:

1. **Cadence.** What frequency would work well? Once a month? Once a week?
2. **Technology.** The two obvious choices are SfB or a Teams meeting and post the link. We would probably include video + audio a

[2018-10-27 10:40] garypretty commented on #25
@cleemullins This sounds like a great idea and I support it wholeheartedly. Here are my thoughts;

Once a month feels like it will be about right (I think once a week is too much for starting on something like this).  I might be that something in between works well given the speed things are moving though at times.

I think SFB or Teams would work well - I am just not sure if that actually exclude

[2018-10-27 11:47] #9 closed

[2018-10-31 12:04] rbrogan-git commented on #22
Let me know where I should do the pull request for my F# sample.  Thanks!

[2018-11-28 09:59] Unders0n opened #27 "LocationDialog. Incorrect flow of dialog"
Hi, thanks for component, though i have an issue. All flow is working well, all asking of address, showing images, confirmation, but when i hit "Yes" in confirmation second step of waterfall doesn't hit, when i type smth more, it hits but WaterfallStepContext.Result is null and WaterfallStepContext.Reson is "EndCalled"
![image](https://user-images.githubusercontent.com/18035628/49143021-270aa900-f

[2018-11-28 10:11] garypretty commented on #27
@Unders0n Hi, thanks for raising this. I think I found the same problem a few days ago and do have a fix for this.  I am stacked at the moment, so it will be a few days, but I will get it pushed here ASAP.

[2018-11-28 13:35] Unders0n commented on #27
@garypretty thx for rapid response. So it was working correctly, right, so smth changed in flows of dialogs in botbuilder framework?

[2018-11-28 13:53] Unders0n commented on #27
btw i mentioned that you're using "dc.Context.SendActivity" in your samples, but its not there not, just dc.Context.SendActivityAsync, so my guess that you're using another version of botbuilder.

[2018-12-01 20:55] garypretty commented on #22
Hey everyone. I have added the first couple of samples for the dotnet repo in a samples folder.  There is a samples .sln file at the top level where new sample projects should be added to - this will allow me to setup CI for the samples at some point.

@rbrogan-git do you want to do ahead and add your sample to this repo?

[2018-12-02 11:31] garypretty commented on #27
@Unders0n Hi.  New version published to NuGet just now. 👍  Will close this, just re-open if you still have the issue.

[2018-12-02 11:31] #27 closed

[2018-12-02 14:50] Unders0n commented on #27
Thanks! It worked for me. But now i faced issues in web chat control, do you know if this aproach should work in web chat control using directline (https://cdn.botframework.com/botframework-webchat/latest/botchat.css) ?  Have such error logs in appinsights:
![image](https://user-images.githubusercontent.com/18035628/49341177-cbb61f00-f65a-11e8-853b-47a6d6fe6a6b.png)

[2018-12-03 18:55] rbrogan-git commented on #22
Yes, that would be great!  How do you want me to structure the folders?  Since this is F#, should I start with an "fsharp" folder or put the language in the name of the project folder?  Want to make it easy to see what language is used since the other samples are in C#.
Thoughts?

[2018-12-14 15:59] Unders0n commented on #27
Hi, Any updates?

[2018-12-27 18:39] cloudguy-pro commented on #25
Hey guys,
I love to hear what you are planning.
I follow a quite similar approach from Vesa Juvonen (PM SharePoint Dev) -> https://docs.microsoft.com/en-us/sharepoint/dev/community/community#community-calls he is doing bi-weekly calls.
I think for starting once in a month would be sufficient. Teams is a great platform for hosting that as we got audio/video and desktop sharing and the quality is so

[2019-01-07 09:53] AvinashRamalingam opened #45 "Custom validator, Confirm and OnCompletion methods missing"
First of all, thank you for providing the Bot.Builder.Community.Dialogs.ChoiceFlow library for handling the JSON model of the form flow. Looking into it seems like there are few methods and properties like Custom validator, Confirm and OnCompletion methods missing and is really key to actually make use of the power and full potential of JSON form builder similar to V3. Are there any plans of getti

[2019-01-07 09:55] garypretty commented on #45
Hi.

Looks like you are using the wrong package. You want the FormFlow package. This signs have everything from v3.

Cheers

Gary

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AvinashRamalingam <notifications@github.com>
Sent: Monday, January 7, 2019 9:53:27 AM
To: BotBuilderCommunity/botbuilder-community-dotnet
Cc: Subscribed
Subject: [BotBuilderCommunity

[2019-01-08 04:47] AvinashRamalingam commented on #45
Hi Gary,

Thanks for the response. I agree that FormFlow package has all the methods which I needed. But couldn't use them using JSON schema similar to what ChoiceFlow does. The current Community FormFlow package just supports the predefined class, what I'm looking for is to have a dynamic model utilizing JSON schema and have control towards validators, oncompletion etc similar to V3. Please sugge

[2019-01-08 19:58] garypretty commented on #45
it looks like the FormBuilderJson functionality has not been migrated - the migration is not something I worked on.  I can follow up and see if there is a possibility of getting this to work or if there is a specific reason it hasn't been ported.

[2019-01-09 08:32] paulio commented on #25
I'd like to introduce a test-using-saved-transcripts module but I've no idea how to start contributing

[2019-01-10 13:59] AvinashRamalingam commented on #45
@garypretty Did you get to hear something on this request? Thanks.

[2019-01-15 09:35] garypretty commented on #45
@AvinashRamalingam Hi.  I have now confirmed that this functionality has not been ported - this was simply due to time constraints, as opposed to a technical reason.  There are currently no plans to port this - I would do this but I am struggling for time at the moment.  Please feel free to have a stab at this yourself and submit a PR though.  I am going to close this for now as we have got to the

[2019-01-15 09:35] #45 closed

[2019-01-24 11:01] Brambi-Amb opened #47 "Feature Request: DialogFlow from Json config file"
Hi Community.
This is a feature request.
Sorry if I am wrong but I am a newbie.
It could be useful that the FlowForm Sample reads a Json file to create menus instead of having _dialogs.Add(FormDialog.FromForm(..)) predefined in the code.
Thanks

[2019-01-30 10:59] brazierdavid opened #48 "Alexa Adapter Conversation Id Length, Use SessionId Instead?"
We have tried using the Alexa adapter with a bot based on the Enterprise Template and hit a problem with Azure blob storage of conversation state, because it uses the conversation id as blob name, but in the Alexa adapter these ids are too long - they are formed as `{Alexa request Application Id}:{Alexa Request User Id}` which can be >270 characters, the blob name limit is 255.  I appreciate the A

[2019-01-30 11:09] garypretty commented on #48
Hi @brazierdavid. Thanks for reaching out with this one.  I think using session ID would make sense.  If you can give this a go and let me know how you get on, then I would be happy to get this change in here and update the NuGet package.

Out of interest, how did you find the on-boarding process with the adapter with the readme etc?  I am keen to understand if the current docs make the adapter ea

[2019-02-04 12:19] brazierdavid commented on #48
See pull request.  My original comment about the blob name wasn't quite right, actually the blobs were saving ok but couldn't then be retrieved because the resulting path name was too long.  However the Enterprise Template uses Cosmos DB for conversation/user state and that does have a 255 limit on document keys.  So either way, using very long conversations ids isn't compatible with the Enterpris

[2019-02-05 09:48] garypretty commented on #48
Addressed with #49

[2019-02-05 09:48] #48 closed

[2019-02-28 06:03] nhadro opened #51 "Unable to cast object of type 'System.Int64' to type 'Bot.Builder.Community.Dialogs.FormFlow.FormOptions'"
When using a FormFlow I am getting the error "Unable to cast object of type 'System.Int64' to type 'Bot.Builder.Community.Dialogs.FormFlow.FormOptions'".  Essentially what is happening is that the FormOption is getting saved as a enum to the state, but when it is read again, it is read as a integer, not a enum.  This is causing the above exception.  If I don't catch this exception it throws the er

[2019-03-07 22:48] EricDahlvang commented on #51
Thanks @nhadro

[2019-03-11 12:55] Webrusterkk opened #54 "unable to launch request using Dotnet core"
Following the Same Process using the DotNet core 2.2 , unable to create an Invocation.

[code]

[2019-03-11 13:14] garypretty commented on #54
Hi.

Any chance you can zip your bot code and send me a link and I'll take a look for you?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tummala Krishna Kishore <notifications@github.com>
Sent: Monday, March 11, 2019 12:55:20 PM
To: BotBuilderCommunity/botbuilder-community-dotnet
Cc: Subscribed
Subject: [BotBuilderCommunity/botbuilder-community-dotnet] una

[2019-03-11 13:57] Webrusterkk commented on #54
Hey @garypretty  , I have mailed (gary@garypretty.co.uk) you the code .

Thanks in advance.

[2019-03-11 14:14] garypretty commented on #54
@Webrusterkk Hi. Got your code.  Any chance you could zip the entire project including the project / solution files?  I ideally need to be able to open -> run so that I can point an alexa skill at it so I can see what is happening.

[2019-03-11 14:17] Webrusterkk commented on #54
@garypretty  Done, I send a mail, which includes total project.

[2019-03-11 14:19] garypretty commented on #54
@Webrusterkk Thanks - its not come through yet, but I will keep an eye out. Is it from wetransfer again?

[2019-03-11 14:26] Webrusterkk commented on #54
@garypretty  Yes, Using Wetransfer only. I think you should be able to get by now .. Let me know if you haven't received it. will see other ways to send you the code

[2019-03-11 14:51] garypretty commented on #54
@Webrusterkk I was able to replicate your error locally.  I have swapped out the NuGet package for the local Alexa adapter project which I have updated to 4.3 and it is working as expected 👍 I will be getting a new Alexa package out to NuGet later today all being well, so you should be able to test with the updated package shortly.

[2019-03-11 14:52] Webrusterkk commented on #54
@garypretty  that sounds great , Gary !! thanks for the Prompt reply ..

[2019-03-11 15:28] garypretty commented on #54
@Webrusterkk Hi. The updated package is now available on NuGet - give this a go and let me know how you get on 👍  https://www.nuget.org/packages/Bot.Builder.Community.Adapters.Alexa/1.0.237

[2019-03-11 15:29] #51 closed

[2019-03-11 18:45] Webrusterkk commented on #54
@garypretty  Yes!! its working as intended.. thanks for your time.. i really appreciate your help

[2019-03-11 18:45] #54 closed

[2019-03-12 12:50] Webrusterkk commented on #54
@garypretty  Sure.. Just Let us know When its out .. will give it a ride ..

[2019-03-13 20:21] damadei opened #56 "Usability of GoogleAdapter"
Hi all,

I'm trying to use the Google Bot Adapter and having some issues, first had to adapt the path to /api/actionrequest which is different from the documentation.

After that we had a bug on the following line inside GoogleAdapter.cs (line 116) where Arguments was null and we did not have the ? operator)

        if(actionPayload.Inputs.FirstOrDefault()?.Arguments?.FirstOrDefault()?.Name == "O

[2019-03-13 20:23] garypretty commented on #56
Hi. Thanks for reaching out. The Google adapter is in development at the moment, but I am hoping to release the first version this week. Keep an eye out for it in the next day or so!

I will check your issue out though. Can you provide some more details about how you have configured your action please?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: damadei

[2019-03-13 20:30] damadei commented on #56
Hi @garypretty, thanks a lot for the quick response!

I'm using the sample bot and have configured my action this way:

{
  "actions": [
    {
      "description": "Default Welcome Intent",
      "name": "MAIN",
      "fulfillment": {
        "conversationName": "TesteConversation"
      },
      "intent": {
        "name": "actions.intent.MAIN",
        "trigger": {
          "queryPatterns": [

[2019-03-13 21:07] eduardaalonso opened #57 "Issue rendering cards"
Hi, BotBuilderCommunity!

I'm getting the following error when trying to render cards on the Actions on Google Simulator:

`expected_inputs[0].input_prompt.rich_initial_prompt.items[0].simple_response: 'display_text' must be set or 'ssml' must have a valid display rendering.`

The error is the same for any card, except for the Signin, which prompts the bot to respond: "PLACEHOLDER_FOR_SIGN_IN"

Be

[2019-03-13 21:14] garypretty commented on #57
Hi @eduardaalonso.  Which adapter / bridge are you using to surface your bot through a Google Action?  We have an adapter for Google coming, but it is for .NET bots and isn't yet finished.  If you are using the Capgemini Google bridge then you are probably best posting this issue within their GitHub repo.

[2019-03-13 21:16] garypretty commented on #56
@damadei ok, thanks. I will take a look over the next couple of days as I am finishing up the adapter and come back to you!

[2019-03-13 21:23] #57 closed

[2019-03-19 18:48] jamsoft commented on #7
Really funny, everything I'm reading around standby messages is people trying to ignore them, I'm struggling to get them ... funny old world.

[2019-03-25 14:59] damadei commented on #56
@garypretty, I was able to use the adapter after following the action registration instructions and also after removing the piece of code that sets the Audio response along with the google card. Maybe we should fix that in the sample code.

[2019-03-25 15:07] damadei opened #73 "List Support?"
Hi all,

Do we have plans to support List Responses as part of the adapter?

I'd like to return a list with options to be selected by the user however seems that this is not supported nowadays.

Thanks
Daniel

[2019-03-25 15:19] garypretty commented on #56
@damadei Thanks for this I will check it out and try and repro.  Appreciate the feedback!

[2019-03-25 15:20] garypretty commented on #73
@damadei This is something I would like to support soon. I just need to find some time to add it.  The next release will add MVC support to the adapters, to bring them in line with the core SDK. Then after that I will start adding broader support for the Google adapter.

[2019-03-25 15:21] garypretty commented on #47
This functionality was available in v3 FormFlow, but has not been migrated for v4.  At this time I am afraid there is no plan for this core team to tackle this due to other priorities.

[2019-03-25 15:21] #47 closed

[2019-03-28 01:03] ajaypaulfrancis opened #76 "Could not install the package"
Could not install package 'Bot.Builder.Community.Dialogs.FormFlow 4.3.10'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

Is it because am using a higher version of .NetFramework?

[2019-03-28 18:43] EricDahlvang commented on #76
The minimum target framework is v4.6.1.

[2019-04-05 23:06] EricDahlvang commented on #7
The Facebook Connector Service was not passing on standby messages, but this bug has just been fixed and is in the release pipeline.  Once this fix is released, Bot Framework will be fully supporting the Facebook Handover protocol.  Standby messages will be sent as Event Activity types in the following format:
[code]

We will also be passing request_thread_control as an event, and a conversationUp

[2019-04-06 09:06] garypretty commented on #7
@EricDahlvang Wow. Thanks for the update!  This is great news and I can't wait to see this update. Any idea on timeframes for the release?

[2019-04-08 08:12] #56 closed

[2019-04-08 20:40] EricDahlvang commented on #7
I've been told it should be live by May.

[2019-04-10 11:50] mzucca opened #84 "New feature"
Hi to all,
I wrote some, minimal, code to improve the google adapter (capturing the intent and entities)
If you want I can share my, smal, piece of code

[2019-04-10 12:10] garypretty commented on #84
Yes, please share it with us and we can look to incorporate it.

[2019-04-10 15:30] mzucca commented on #84
Hi Gary
[Changes.zip](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/files/3064530/Changes.zip)

added a zip file with all my modifications (very few of them). I really did not so much but if you want feel free to incorporate it. You've done an amazing job. I'll use it in some of the experiments we're working on and I'll be really happy if I can help a little bit.

Let me know

[2019-04-16 07:43] GhostAtom opened #87 "The skill end-point is not accepting valid signed requests"
I have an issue while submitting my skill to Amazon functionnal test. Few days ago it was working.

Documentation Help:
Verifying the signature certificate URL: [Click here](https://developer.amazon.com/docs/custom-skills/host-a-custom-skill-as-a-web-service.html#cert-verify-signature-certificate-url)

I use validation option `options.AlexaOptions.ValidateIncomingAlexaRequests = true;`
Any idea fo

[2019-04-18 14:46] garypretty commented on #84
@mzucca This looks great.  I might amend some of the bits around the Google request type / activity types to ensure I can keep some consistency with Alexa, but I will be looking to get this integrated over the next few days hopefully. Thanks again!

[2019-04-18 15:26] GhostAtom commented on #87
@garypretty I don't know if you can help on that issue? thank you in advance

[2019-04-24 00:15] EricDahlvang commented on #7
The fixes for the facebook messenger handover protocol are in production (including standby events).  This sample has been modified to demonstrate: https://github.com/EricDahlvang/FacebookEventsBotExpanded

[2019-04-30 15:46] mwnowicki opened #95 "Alexa Adapter - MVC and middleware"
Hello BotBuilderCommunity!

I'm trying to use Alexa Adapter in .Net Core MVC. All works fine but I'm not able to use AlexaIntentRequestToMessageActivityMiddleware. It never transform Alexa Intent requests into MessageActivities.

My code looks like this:
[code]

Do you have any suggestion how to make it working?

Regards,
Maciej

[2019-04-30 16:54] arafattehsin commented on #95
Hi Maciej

I managed to use the same in this sample and was able to convert into MessageActivities. Although I didn't use the MVC approach but I think it's worth to cross check with this sample - https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/samples/Cortana%20Assistant%20Alexa%20Sample

Your feedback is appreciated!

[2019-04-30 17:59] mwnowicki commented on #95
Hi Arafat,

Thank you for your response.
I have checked [Cortana Assistant Alexa Sample](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/samples/Cortana%20Assistant%20Alexa%20Sample) but it also doesn't use MVC.
I also checked Microsoft Sample [Transcript Logger Middleware](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/17.mult

[2019-04-30 18:17] garypretty commented on #95
Hi.

Before this line....

ShouldEndSessionByDefault = true

You can insert

Use(new AlexaIntentRequestToMessageActivity())

That adds the middleware to the pipeline.

Cheers

Gary

Get Outlook for Android<https://aka.ms/ghei36>

From: mwnowicki
Sent: Tuesday 30 April, 18:59
Subject: Re: [BotBuilderCommunity/botbuilder-community-dotnet] Alexa Adapter - MVC and middleware (#95)
To: BotBuilderCommun

[2019-05-01 09:57] mwnowicki commented on #95
Hi Gary,

Thank for the clue. I update code and it works correctly now.

Code:
[code]

Cheers,
Maciej

[2019-05-01 10:03] arafattehsin commented on #95
Awesome! Closing this issue.

[2019-05-01 10:03] #95 closed

[2019-05-06 23:08] EricDahlvang opened #98 "http://docs.botframework.com/images/bot_icon.png is a dead link"
docs.botframework.com has been taken down.  The bot_icon.png no longer resolves to a png file.

[2019-05-14 17:42] cleemullins opened #101 "Product Team Discussion to review Testing Ideas"
[Update at 9:10AM - new Teams link, as I accidentally "ended" the original live event]

Hi All,

On Tuesday May 21st at 9AM PST (4pm UTC) The Bot Framework Team is hosting a discussion around Unit Testing of Bots. This includes
1. Unit Test a dialog
2. Mock's for LUIS Recognizers
3. e2e Tests for a dialog
4. Recommended flows for using LU files, Bots, and Source Control.

To join, please use [this

[2019-05-14 17:50] garypretty commented on #101
Hi @cleemullins. This sounds great. I'm on vacation in the states until 24th, so w/c 27th might be best for me, after 2pm EDT / 11am PST.

Alternatively, if you want to drop me your availability over the next week or so, I will probably be able to find an hour to join a call - would be helpful to have a few options so I can figure something out that works with our plans.

Thanks and looking forwar

[2019-05-14 17:55] cleemullins commented on #101
Let see if anyone else chimes in - ideally next week.

[2019-05-14 18:00] garypretty commented on #101
@cleemullins OK, no problem. I've just checked and I think the times next week that would work for me would be after 3pm PST on Monday / Tuesday or sometime on Wednesday.

[2019-05-14 18:13] szul commented on #101
@cleemullins @garypretty My schedule is pretty open next week 8-4 EST. The following week, I'm also good except for Wednesday.

[2019-05-14 19:38] arafattehsin commented on #101
Hello! I am good any day between 12 PM to 5 PM (PST) -- if you have any other suggestions then please let me know so I can manage my schedule accordingly.

[2019-05-14 19:54] arafattehsin commented on #98
Hi @EricDahlvang I noticed that we're only using this Url in one of our build props. Are you referring to the same?

[2019-05-14 21:06] EricDahlvang commented on #98
Yes, that is what I'm referring to.

[2019-05-14 22:30] arafattehsin commented on #98
Thanks. I have added a different (working) link.

[2019-05-14 22:30] #98 closed

[2019-05-15 02:26] brianrandell commented on #101
I'm interested. Monday or Tuesday are best. I'll be in London (UTC + 1) all next week so "be kind" :-) I'll do my best to attend. Wednesday on are bad due to speaking engagements.

[2019-05-15 05:43] huan commented on #101
It's great to hear that we will have official unit tests for ChatBot & LUIS!

Please count me in if we have any specific email list or discussions, thanks!

[2019-05-15 06:52] cloudguy-pro commented on #101
Hi @cleemullins I'd be super interested to join as we are currently working on a lot of production bots for larger companies and would therefore know how to test bots properly...

[2019-05-15 10:04] paulio commented on #101
+1, we're automating test scripts for the Bot, LUIS and Bot + LUIS so would be very interested to see what's happening

[2019-05-15 20:45] gabog commented on #101
Hi, I setup a call for Tuesday, May 21st at 9 AM PST (sorry, that's the best I could do to accommodate all the different time zones.

You can use [this link](https://teams.microsoft.com/l/meetup-join/19%3ameeting_MDBjYmFmNjQtNjE5Mi00ODU5LWEzNWQtNmE2NDhjZTQ3Zjc1%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%220f65454e-84c1-4979-9deb-e7ac73cc3f94%22%2

[2019-05-15 21:08] cleemullins commented on #101
Hi All, I've updated the original post with the details:
1. On Tuesday May 21st at 9AM PST (4pm UTC, assuming my TimeZone math is right)
2. [Teams Link](https://teams.microsoft.com/l/meetup-join/19%3ameeting_MDBjYmFmNjQtNjE5Mi00ODU5LWEzNWQtNmE2NDhjZTQ3Zjc1%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%220f65454e-84c1-4979-9deb-e7ac73cc3f94%22%2c%22I

[2019-05-15 22:16] daltskin commented on #101
Can this call be recorded?

[2019-05-17 16:04] gabog commented on #101
@daltskin, I'll try to record (if the Teams gods are with me), does this community has some place where I can post the recording after the call?

[2019-05-17 16:50] garypretty commented on #101
@gabog you can liaise with me re the recording and we can get it posted somewhere appropriate.

[2019-05-18 21:52] tmarkovski opened #105 "Twitter Adapter contribution"
Hey everyone,

I'd like to contribute some work that I did around integrating Twitter direct messages with the Bot Builder SDK. This is an effort that I did for an ongoing project and I think the community can find some use of it, as it's currently hard to find easy integration between Twitter and Bot Builder.

The work I did is at https://github.com/tmarkovski/bot-builder-twitter-adapter

If you

[2019-05-19 00:26] garypretty commented on #105
Hi. Thanks for reaching out with this. This is awesome!! We would love to have this as part of the community.

Please do submit a PR. If you could make sure the readme is as detailed as it can be in terms of setup / usage etc that would be amazing.

Thanks again and welcome to the community!

[2019-05-21 15:59] cleemullins commented on #101
Hey all - I've updated the Teams link in this thread to [this one](https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZGRkZTEzOGItNTYyMS00M2U5LWE1M2ItYzcwYTU5YjEyZjFl%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%220f65454e-84c1-4979-9deb-e7ac73cc3f94%22%2c%22IsBroadcastMeeting%22%3atrue%7d) as I accidently ended the live meeting and @gabog had

[2019-05-21 16:02] paulio commented on #101
Is this on now?

[2019-05-21 16:08] cleemullins commented on #101
[Updated Teams meeting (take 2)](https://teams.microsoft.com/l/meetup-join/19%3ameeting_MTM1N2RjZjctMjk3Yi00ODlhLThjMmUtODRjMzY1ZGFjMjFm%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%226564eb17-71bd-4acd-ac6b-9ad7ad57f394%22%7d)

[2019-05-21 16:10] garypretty commented on #101
I'm not going to make it sadly, but look forward to watching the recording.

[2019-05-21 21:24] gabog commented on #101
Hi all, sorry but we run into some technical issues today and we couldn't record the call.

[2019-05-22 04:09] baruchiro opened #109 "This is the repo I looking for!!"
Sorry about the "not valued" issue.

I'm working on my bot a while, and there is in it a solutions I done, and in my mind there is more solutions to develop.

But now, I happened to discover this Repository, and all my solutions are in it!

I think that developers are not familiar with this repository, and maybe a link to the repository should be included in the Microsoft documentation.

[2019-05-22 18:47] mwnowicki opened #110 "Alexa Adapter and MS Bot Framework Dialog"
Hello,

I would like to use bot dialog with Alexa. Is any way to use Alexa Adapter with Dialog? Do you have sample of this kind of implementation?

Kind Regards,
Maciej

[2019-05-22 20:13] arafattehsin commented on #109
Hi @baruchiro where were you looking for this? Official docs mentions the name of the community with the link and there's a whole blog post from the Bot Framework team.

[2019-05-23 18:33] abhi7705 opened #113 "connect Microsoft Bot(using LUIS) to alexa"
I have created one bot using luis with v3 sdk . Now I want to connect this bot to Alexa . Can someone suggest me the possible ways to do it??

If I use Alexa Adapter I will have to change the bot code . So, Is there any other way to do that ?
Please help

[2019-05-23 18:45] garypretty commented on #113
Hi.

The adapter is designed for v4. For v3 you can try this bridge https://github.com/CatalystCode/alexa-Bridge.  Hope that helps!

[2019-05-23 18:50] abhi7705 commented on #113
@garypretty  Thank You , I will try this .

[2019-05-23 22:00] arafattehsin commented on #113
@abhi I hope your query is answered hence closing this.

[2019-05-23 22:00] #113 closed

[2019-06-03 09:08] garypretty commented on #105
Closing now that this has been merged. Thanks again.

[2019-06-03 09:08] #105 closed

[2019-06-11 13:58] garypretty commented on #109
Closing this - thank you very much for the feedback. Great to hear the repo is useful!

[2019-06-11 13:58] #109 closed

[2019-06-11 13:58] garypretty commented on #76
Closing this - let us know if the above answer didn't resolve your issue.

[2019-06-11 13:58] #76 closed

[2019-06-11 13:59] garypretty commented on #25
Closing this - I will continue some discussions with the PG to get some public facing stand ups started soon hopefully.

[2019-06-11 13:59] #25 closed

[2019-06-11 14:00] garypretty commented on #101
Closing this - I hear the call was of great help and we should see some outputs from the team in the near future.

[2019-06-11 14:00] #101 closed

[2019-06-11 14:01] garypretty commented on #87
@GhostAtom Hi. Apologies for not coming back on this until now - did you resolve your issue?

[2019-06-11 14:02] garypretty commented on #110
@mwnowicki Can you share more specifics about what you are looking to achieve here?  We do have a sample in place showing how to use the Alexa adapter. Take a look and let us know what's missing if it doesn't solve your problem.

[2019-06-11 14:02] #84 closed

[2019-06-13 13:40] mwnowicki commented on #110
@garypretty  I already review samples and some more examples. I was able to make all working. Thanks.

[2019-06-13 13:40] #110 closed

[2019-06-13 16:39] mwnowicki opened #119 "Alexa Adapter - Session Attributes"
Hi,

I would like to ask for clarification. In documentation [Session Attributes](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Alexa#Session-Attributes), it isn't quite clear if TurnContext parameters are mapped into Session Attributes automatically.

When bot gets request from Alexa then new attributes are added into Turn

[2019-06-18 11:43] BeigeBadger opened #120 "Alexa response falling through to OnInterruptDialogAsync rather than RouteAsync in Virtual Assistant template"
I have connected my Alexa device using the AlexaAdapter. However, when the device responds the response falls through to the `OnInterruptDialogAsync` method of the MainDialog class of the Virtual assistant template instead of the `RouteAsync` or `OnEventAsync` methods which is where the other input methods automatically flow to (typed text and postBack/imBack from cards.)

Has anyone else experien

[2019-06-18 11:47] BeigeBadger commented on #119
@mwnowicki are you using the Virtual Assistant template? Also from your screenshot should you not be inspecting `TurnState[0]` as that looks like to have the key `AlexaSessionAttributes` and the value appears to be a dictionary - which is mentioned in the documentation.

[2019-06-18 15:29] mwnowicki commented on #119
Hello,

Yes, I'm using Virtual Assistant template which uses OnTurnAsync.
Solution for this problem was to run "SaveChangesAsync" on states objects:
[code]

Regards

[2019-06-18 15:29] #119 closed

[2019-06-18 18:29] BeigeBadger commented on #119
Glad to hear it. Did you have any issues with your Alexa responses falling through to the OnInterruptAsync method in MainDialog.cs instead of going into OnRouteAsync like the rest of the messages?

[2019-06-19 14:07] sremy91 opened #123 "Adapters.Google missing UTF-8 charset in response?"
Hi,
I encounter issues on google home side. I built a MS Bot using the Google Adapter, the bot is dedicated to french local (fr-FR).

From time to time, on Google Simulator or on Google Assistant Device, some accents are misinterpreted "OÃ¹ sallez-vous?" instead of "Où allez-vous?"

I found that in /Integration/AspNet.Core/GoogleHttpAdapter.cs, the ContentType of the Response sent to Google is set

[2019-06-20 13:27] garypretty commented on #123
Thanks for the heads up - I will get a fix in for this.

[2019-06-20 13:28] garypretty commented on #87
Closing this - please reopen if still experiencing an issue.

[2019-06-20 13:28] #87 closed

[2019-06-23 03:50] BeigeBadger commented on #120
I'm starting to think that maybe this is intentional behaviour. My current solution is to catch the intent inside `OnInterruptDialogAsync` then call `RouteAsync` manually - the intent is set on the `Text` property of the context so it will be handled correctly by `RouteAsync`. Seems to work for now.

[2019-06-23 03:50] #120 closed

[2019-06-25 18:15] mwnowicki commented on #119
Hi @BeigeBadger

I made extension to 'RouterDialog' class to add some functionality for Alexa messages. However messages goes to 'OnInterruptAsync' method first and later to 'OnRouteAsync'.

Regards

[2019-06-25 23:12] BeigeBadger commented on #119
Thanks for the reply @mwnowicki. Did your messages automatically fall through to `RouteAsync` after going through `OnInterruptAsync`? I had to call `RouteAsync` manually from within `OnInterruptAsync`.

[2019-06-27 10:05] mwnowicki commented on #119
Hi @BeigeBadger

Please download source code for 'RouterDialog' then you will see that this functionality is defined there. I made extension to that class but you can have a different solution based on your needs.

Regards

[2019-07-11 09:19] jnutkins opened #128 "GoogleHttpAdapter - Documentation"
Hi,

The documentation for the Google Adapter for MVC doesn't appear to be correct:

[code]
As it doesn't have a parameter called 'validateRequests'. I've tried with the HttpContextAccessor but seem to get 'Object Reference not set to an instance of an Object' errors. I have a feeling I have set this part up incorrectly.

[2019-07-26 14:39] Mando-Henry opened #129 "Adapters.Alexa missing escape for ampersand in SSML response"
Using an ampersand in a response results in the following (as I believe '&' isn't supported in SSML):

Invalid SSML Output Speech for requestId XXXXXXXX. Error: Fatal error occured when processing SSML content. This usually happens when the SSML is not well formed. Error: Unexpected character ' ' (code 32) (missing name?)\n at [row,col {unknown-source}]: [1,XX]

Replacing the '&' with 'and' fixes

[2019-07-26 16:11] arafattehsin commented on #129
Thanks for pointing out. I'll try to fix it by the end of this weekend!

[2019-08-01 13:33] garypretty commented on #129
Hey @arafattehsin - that last push to master does not contain this fix - I am reviewing this fix to see if we need to do something wider.  @Mando-Henry has implemented a local fix in the meantime.  I'll come back to this once I have reviewed.

[2019-08-08 07:57] JohnRobertGreen commented on #128
Having the same issue. Injecting the context accessor works. Then I get errors which appear to be due to the originalDetectIntentRequest being empty and lots of null object errors.

Fulfillment request is:
{
  "responseId": "7e705056-6da6-42e7-a9bd-3b4dc5f63d4f-712767ed",
  "queryResult": {
    "queryText": "whats my balance",
    "parameters": {},
    "allRequiredParamsPresent": true,
    "fulfil

[2019-08-08 21:44] v-kydela opened #137 "Idea: Bot.Builder.Community.AdaptiveCards"
I believe the only mention of Adaptive Cards in the Bot Builder SDK is in the Node SDK's `CardFactory`. I don't think there's any mention of Adaptive Cards in the .NET SDK.

As a Bot Framework support engineer, I see many recurring tasks that people want Adaptive Cards to perform in their bots. While there is already an Adaptive Cards NuGet package that provides some helpful models that bots can u

[2019-08-19 18:46] marcasmar94 opened #140 "Twitter Adapter : Invalid activity-missing channelId"
- Using Microsoft Bot Framework v4 ( Virtual Assistant Template )

        - Microsoft.Bot.Builder 4.5.1
        - Microsoft.Bot.Connector 4.5.1

I am receiving a
### **System.ArgumentNullException**:

 **'Value cannot be null. Parameter name: invalid activity-missing channelId'**

----------------------------**StackTrace**----------------------------

 at **Microsoft.Bot.Builder.ConversationState

[2019-08-19 23:16] fercom opened #141 "[Question] How to implement Transcript store on Twitter Adapter"
How do I implement a transcript logger on the  [twitter adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Twitter)?, I am using [Entity framework transcript store](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Storage.EntityFramework) but I am only able

[2019-08-20 00:35] tmarkovski commented on #140
Looks like this can be solved by adding `ChannelId = "twitter"` to https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/c65664f914f1e5c47d78de9d00c6a52e2a1e43c1/libraries/Bot.Builder.Community.Adapters.Twitter/Hosting/WebhookMiddleware.cs#L63

[2019-08-20 01:04] tmarkovski commented on #141
You can register middleware for use with any adapter by calling `Use(<IMiddleware>)`.
That said, in your Startup.cs inside `Configure(IApplicationBuilder app` you can potentially do

        app.ApplicationServices.GetRequiredService<TwitterAdapter>().Use(
            app.ApplicationServices.GetRequiredService<TranscriptLoggerMiddleware>());

I haven't tested this, but if `TranscriptLoggerMiddlewa

[2019-08-20 01:10] fercom commented on #141
I registered inside the constructor of TwitterAdapter, is there any difference?

[2019-08-20 01:18] tmarkovski commented on #141
No difference, as long as it works.

[2019-08-20 01:25] fercom commented on #141
But it doesnt 😔... And the middleware is registered, i can see it while debugging

[2019-08-20 11:40] tmarkovski commented on #141
Quickly looking at the code, it appears we need to call `RunPipelineAsync` inside `Webhook Middleware`, instead calling the `TurnContext.OnTurnAsync` directly. Should be a quick and easy change. I'll push a PR today.

[2019-08-20 19:09] fercom commented on #141
Ok, thanks, would you please let me know when you do it? ☺

[2019-08-20 22:33] iMicknl commented on #141
@tmarkovski what about using `ProcessActivity` like in the other adapters? ([Alexa example](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Adapters.Alexa/AlexaAdapter.cs#L36)). From there you can create the `TurnContext` and call `base.RunPipelineAsync`.

[2019-08-20 22:44] mdrichardson opened #143 "[Twitter Adapter] Failed to register subscription..."
I must be doing something wrong in setting up my Twitter dev account, because for the life of me, I can't seem to get around this error:

[code]

I've tried various combinations of `TwitterOptions` and API settings, but here's what I have up currently:

[code]

![image](https://user-images.githubusercontent.com/40401643/63389602-1a2e5980-c361-11e9-9d11-f298228fd309.png)

![image](https://user-imag

[2019-08-21 00:20] tmarkovski commented on #141
@iMicknl That's a good pattern and keeps things consistent. I'll move the logic over to the adapter.

[2019-08-21 00:44] tmarkovski commented on #143
@mdrichardson Everything looks good. Is your account on the Premium tier or Enterprise? The API's are slightly different for both and I think the code we have here is configured for Premium tier.

[2019-08-21 15:07] mdrichardson commented on #143
@tmarkovski I'm using `PremiumFree`. Super new to Twitter dev...just doing this for some testing and haven't paid for anything; is that the problem?

Here's my console output:

[code]

Let me know if you want me to do any additional testing. Happy to help out.

[2019-08-21 18:44] mdrichardson commented on #143
Well, that's embarrassing. Turns out the issue was that I had an [Azure Relay](https://blog.botframework.com/2019/04/16/debugging-your-locally-hosted-v4-bot-using-azure-relays/) running in the background on the same port and it was conflicting with ngrok. It works now. Hope you didn't spend as much time on this as I did 🤦‍♂️

[2019-08-21 18:44] #143 closed

[2019-08-21 19:54] fercom commented on #141
@tmarkovski where should I call `RunPipelineAsync`? It seems that it needs a callback as an argument but I dont know where to find it

[2019-08-22 21:51] mdrichardson commented on #141
@iMicknl @tmarkovski Any further guidance on how to do this? I've been toying with it quite a bit and can't seem to get it working (pretty new to DI and Middleware, admittedly). Seems like the `TwitterAdapter` is overwriting the `AdapterWithErrorHandler`. I can't really find a quick fix...seems like the "easiest" way is to rewrite most of the adapter to be more in line with the others. Am I missin

[2019-08-23 17:12] cleemullins commented on #141
As an aside, we've got a pattern we're using for our new Adapters (Twilio, WebEx, Slack, Teams, etc) that may be applicable to this adapter. I suspect we'll end up writing hybrid / composite adapters as well for bots that support multiple channels...

[2019-08-23 21:43] paul198204 opened #144 "Formflow data gets recreated on successive calls (call to 2nd step) to form steps"
Hi,
We are using Bot Frmaework V3 and planning for migration to V4. We use form for many flows in our Bot and the forms expects parameter in constructor (Ex: RequestForm(Data data)).

With V4, looks like Bot.Builder.Community.Dialogs.FormFlow forms gets re-instantiated as part of dialog context creation while going through the form build steps which is making Data to reconstructed on every call to

[2019-08-24 00:53] v-kydela commented on #137
@garypretty - Would you accept such a package?

[2019-08-24 19:09] paul198204 commented on #144
Just to add more information on this, I see dialog state is changed with call to await m_conversationState.SaveChangesAsync(turnContext, false, cancellationToken); after 1st question of formsflow form. But when User answer for it, on creation dialog context in OnMessageActivityAsync., I see turn context does not have the previous state  and on trying to load state from storage (I am using Memory S

[2019-08-24 19:39] paul198204 commented on #144
After 1st Question of Formsflow form - while saving state
![image](https://user-images.githubusercontent.com/13347968/63641948-d6429980-c66b-11e9-88c7-77eaf383c8dc.png)

After user types in message for 1st question - while handling user message
![image](https://user-images.githubusercontent.com/13347968/63641957-fd996680-c66b-11e9-9e78-32b5ac009c2a.png)

[2019-08-25 09:13] garypretty commented on #137
Hey @v-kydela - absolutely. This sounds great. Apologies for the late reply. Work is pretty crazy so I don't get here as much as I want 🙄

[2019-08-29 18:40] mdrichardson opened #146 "FormFlow State doesn't properly reset on FormCanceledException"
This stems from @paul198204's (@EricDahlvang: this is Praveen) issue where basically:

1. User starts FormFlow Dialog
2. User says "quit" and bot cancels all dialogs
3. User attempts to restart FormFlow Dialog, but instead continues where they left off

Not being familiar with FormFlow, I'm posting this here for additional help.

My guess is that the `else` clause [from here](https://github.com/Bo

[2019-08-29 18:55] paul198204 commented on #146
Adding to it, I guess it should be called even in form Complete case

[2019-08-30 01:13] paul198204 commented on #146
I did verify that, if we do reset, it looks to be working :). I also noted that in the BeginDialogAsync of FormDialog.cs file, there is no formState.reset() call which is causing issues while bringing up the same form 2nd time (after completion of form 1st time with out any errors). I see only below instead of reset call

public async override Task<DialogTurnResult> BeginDialogAsync(DialogContext

[2019-08-30 04:26] EricDahlvang commented on #146
It seems reasonable to clear the state on begin, on complete, on cancel, and when the dialog stack is cancelled (is that an overridable method or event in ComponentDialog?)

[2019-08-30 11:01] #129 closed

[2019-08-30 15:03] fercom commented on #141
Hi @tmarkovski , any update on this? Thanks!

[2019-08-30 16:43] paul198204 commented on #146
_formState looks to be local (Private) to FormDialog and not exposed outside. It would be great if you also verify Reset is actually resetting all the formstate internal data (Like reset steps state etc...)

[2019-08-30 20:53] EricDahlvang commented on #146
When a ComponentDialog is cancelled, EndDialogAsync is called with DialogReason.CancelCalled: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/ComponentDialog.cs#L216

This could be overridden in FormDialog https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Dialogs.FormFlow/FormDialog.cs

[2019-08-31 08:51] paul198204 opened #148 "The given key was not present in the dictionary error while trying to bring up dialog from form"
I am seeing the below error while trying to shop up dialog from form during completion

[code]

[2019-08-31 13:07] tmarkovski commented on #141
@fercom The PR is up. I've modified the code slightly to follow similar patterns as the existing adapters.

[2019-08-31 13:10] tmarkovski commented on #140
This issue is resolved with #142 and can be closed.

[2019-09-02 16:08] v-kydela commented on #148
@paul198204 - Can you provide some repro steps?

[2019-09-02 17:21] paul198204 commented on #148
I provided the sample as you requested. Steps: Start the app, sent any text to bot and provide answers to bot questions. you should see failure. Basically I am trying to display dialog on closing of the form in the same which is supported in V3 with Context.Call. Please let me know if you need any info.

[2019-09-02 21:44] fercom opened #150 "[bug] [twitter adapter] Adapter doesn't work on chatbots with QnA Service"
It looks like QnA Service generates a "trace" type Activity, the adapter detects that the activity doesn't have text and throws an argument exception.
Maybe it needs to filter by activity type on this method on TwitterAdapter.cs?
[code]
like this:

[code]

[2019-09-02 22:27] v-kydela commented on #148
@paul198204 - I've found the problem with your bot, and I'll get to that. But it looks like there is a problem with the FormFlow package after all, and there's arguably even a problem with the SDK.

## The problem with the SDK

[ComponentDialog.cs](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/ComponentDialog.cs#L194) consistently tries to acces

[2019-09-02 22:27] #148 closed

[2019-09-02 22:33] v-kydela opened #151 "Bot.Builder.Community.Dialogs.FormFlow.FormDialog<T> extends ComponentDialog without calling base.BeginDialogAsync"
Overriding `ComponentDialog.BeginDialogAsync` without calling the base implementation means `PersistedDialogState` never gets initialized which can lead to exceptions like these: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/148

My feeling is that `FormDialog<T>` should just extend `Dialog` instead of `ComponentDialog`.

[2019-09-03 17:44] v-kydela commented on #137
Example of demand: https://stackoverflow.com/questions/57766022/how-to-disable-button-after-single-use-in-a-adaptive-card

[2019-09-04 00:29] arafattehsin commented on #140
Thanks! @tmarkovski - closing this issue.

[2019-09-04 00:29] #140 closed

[2019-09-04 00:46] fercom commented on #141
@tmarkovski ok, it looks like the merge is blocked

[2019-09-05 11:52] techie921 opened #152 "WeChat Adapter"
Hi Team,

I am planning to develop the WeChat Adapter.
Can you please help how to start developing?
If you have any sample code for WeChat, please share with me

Thanks,
Sakru Jarpula.

[2019-09-05 11:54] garypretty commented on #152
Hi @techie921 - it appears this has already been done, or is at least underway, within the Microsoft SDK - see https://github.com/microsoft/botbuilder-dotnet/pull/2217

[2019-09-05 11:57] #141 closed

[2019-09-05 11:57] garypretty commented on #150
This will be released to NuGet later today.

[2019-09-05 11:57] #150 closed

[2019-09-05 13:01] arafattehsin commented on #152
Closing this issue as it's already in the pipeline. Thank you for your interest @techie921. Please do not hesitate to contribute in other adapters / extensions.

[2019-09-05 13:01] #152 closed

[2019-09-06 17:25] fercom commented on #150
@garypretty in which version of the Nuget package it is? I don't find it

[2019-09-06 17:34] garypretty commented on #150
@fercom Sorry! I didn't get chance to push it out. Doing it now. Should be available within 30 minutes.

[2019-09-06 17:35] fercom commented on #150
Ok, it will be [here](https://www.nuget.org/packages/Bot.Builder.Community.Adapters.Twitter/) right?

[2019-09-06 17:55] garypretty commented on #150
@fercom  A new set of NuGet packages should now be available!

[2019-09-06 17:57] fercom commented on #150
@garypretty Ok, I will download and test it, will let you know if anything goes wrong. Thanks!

[2019-09-09 18:57] fercom commented on #141
@tmarkovski now that the update is done I tested this code but it doesn't work, it says: **No service for type 'Microsoft.Bot.Builder.TranscriptLoggerMiddleware' has been registered.** Any Idea?

[2019-09-09 23:04] tmarkovski commented on #141
@fercom I believe the middleware and adapters should be resolved within a [scoped lifetime](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2#scoped). The problem here doesn't seem to have anything to do with the adapter, but rather how you resolve `TranscriptLoggerMiddleware`.

[2019-09-10 17:16] fercom commented on #141
@tmarkovski Ok, thanks, it is working now with the last nuget version (4.5.6).

For future references:
in the ConfigureServices Method you must have this:
[code]

and the Configure method must be something like this:
[code]

[2019-09-14 20:18] troops579 opened #154 "Alexa Adaper Sample giving invalid skill response"
I have created echobot and

Here I used visual studio 2019 and integrated nuget package - Botbuilder.Community.Adapter.Alexa

By comparing your sample I am able to test it locally on bot framework

but on alexa testing it gives skill response invalid.

Any idea how we can debug or solve this issue?

[2019-09-18 14:11] rvinothrajendran opened #155 "AdaptiveCardPrompt Bot Framework 4.0"
AdaptiveCardPrompt
Natively, Adaptive cards events (like submit or cancel button) does not work in the Prompt dialog. I have written the code to handle the Adaptive cards events in the prompt dialog. If you accept this idea, will create the PR and submit the code.

Thank you
-Vinoth.

[2019-09-18 22:49] v-kydela commented on #155
You might be interested to know that others have been working on much the same thing: https://github.com/microsoft/botframework-sdk/issues/5396

There's no need to be disappointed about the duplicated work, though. It makes sense to have choices when it comes to this sort of thing. I encourage you to submit the code because I'd like to see what you've done. The more the merrier!

[2019-09-18 23:01] v-kydela opened #157 "There's no way to reuse a form dialog"
This issue is very closely related to this one: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/146

Michael's issue only mentions the private `_formState` field, but there is also the private `_state` field to consider. FormFlow has multiple ways of keeping track of its state and none of them seem to get reset when a form dialog begins or ends. Since the state doesn't ge

[2019-09-19 00:25] samaea opened #158 "Alexa Adapter not working in the Virtual Assistant template"
More information about this bug is reported here:- https://github.com/microsoft/botframework-solutions/issues/2403.

[2019-09-19 17:59] JeffCordes opened #159 "LocationDialog wants a full BotState object in its constructor"
It should only get an IStatePropertyAccessor to a specific property on the state.

[2019-09-20 16:39] garypretty commented on #158
@samaea I have responded to this in the MS Solutions repo with a workaround. https://github.com/microsoft/botframework-solutions/issues/2403

I am going to close this issue here.

[2019-09-20 16:39] #158 closed

[2019-09-21 15:42] rvinothrajendran commented on #155
Thanks @v-kydela , I have checked #5396 it has lot features mine just overwrite the Prompt class and return the Json object
Thank you.

[2019-09-21 15:42] #155 closed

[2019-09-21 23:42] arafattehsin commented on #154
Hi @troops579, how are you testing on Alexa? Can you please share more details?

[2019-09-23 15:33] v-kydela commented on #155
@rvinothrajendran - I should mention that it's currently possible to use an Adaptive Card with a text prompt if you replace the turn context's incoming activity's text with the serialized JSON from the submit action.

[2019-09-24 20:17] v-kydela commented on #157
Now that I think about it, why doesn't a form dialog persist its state using the `State` property of the dialog instance the same way other dialogs do?

- [Component dialog](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/ComponentDialog.cs#L371)
- [Prompt](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.

[2019-10-03 14:51] mira5b opened #162 "LocationDialog Botstate required"
The documentation for LocationDialog states Botstate is not required if SkipFavorites is set.  This is not true.  LocationDialog throws null reference exception if you set SkipFavorites and botstate is null.

[2019-10-08 16:16] garypretty commented on #18
Closing this as it hasn't been actioned / commented in a while.  Please re-open if you still need it, or better still contrib :)

[2019-10-08 16:16] #18 closed

[2019-10-08 16:16] garypretty commented on #17
Closing this as it hasn't been actioned / commented in a while.  Please re-open if you still need it, or better still contrib :)

[2019-10-08 16:16] #17 closed

[2019-10-13 10:25] troops579 commented on #154
@arafattehsin I am testing on alexa  portal which shows json sent and received. Error message displayed there.

[2019-10-14 04:27] arafattehsin commented on #154
@shameelnana @troops579 - I will definitely give it a try this week and get back to both of you on this. Just wanted to check if you guys have referred to the samples in the repo?

[2019-10-16 00:42] arafattehsin opened #163 "Port existing samples to MVC"

[2019-10-16 11:31] garypretty commented on #22
Closing this as I think we have an agreed approach in practice now, with samples living in the repo they belong to. Thanks.

[2019-10-16 11:31] #22 closed

[2019-10-16 11:34] garypretty commented on #137
@v-kydela I think it might be a good idea for us to have a call and agree if any of the above might actually make sense in the core SDK.  I spoke with @cleemullins a few weeks ago about Adaptive Cards and I think if there are sensible core scenarios we want to light up, then there might be appetite for this.  Anything that falls outside of the core scenarios could then be added to the community re

[2019-10-16 11:38] garypretty commented on #163
@arafattehsin Thanks for raising this.  It is sensible.  Maybe as you are going to work on a sample, create a specific issue for it and link it here.  This way we don't step on each other - I am planning to do some work on Alexa / Google / Twitter docs and samples in the very near term.

[2019-10-16 11:45] garypretty commented on #154
@troops579 @shameelnana I am planning to get some updates into the samples over the coming days.  For now, I have a couple of questions.

- @troops579 What is the error message you are receiving in the Alexa portal?
- Is the Validate Incoming Requests property on the adapter set to true or false?

It is also on my high priority list to get the Alexa documentation updated over the coming week or so

[2019-10-16 11:51] garypretty commented on #159
Hey @JeffCordes. Thanks for raising the issue.  I am not sure I totally agree with this.  The intention was to make life as easy as possible for a developer and not have them need to create the accessor, but simply pass in their bot state object.

This dialog was written a good while ago now, before DI was property implemented / used, so it is now fairly common to pass in Conversation / User state

[2019-10-16 11:54] garypretty commented on #146
@EricDahlvang Do you have any bandwidth over the next couple of weeks to take a look at the FormFlow issues?  I am reviewing / taking action on the other issues in the repo as well as hoping to get the docs / samples refreshed as well.

[2019-10-16 11:57] garypretty opened #164 "Add StyleCop / FxCop rule to the repo"
I would like to mirror the rules used within the Bot Builder SDK repo (at least the majority of them) that @gabog has done a fabulous job of pushing. We will need to do this over time, as it is going to take a significant amount of effort to adopt these rules.  It may be that I work on this project by project / sample by sample and enable the rules in each as I re-visit them.

[2019-10-16 12:06] arafattehsin commented on #163
Thank you @garypretty for the advice. I agree with you.

I will start from Sentiment Analysis Middleware sample (and will start raising issues as I pick one).

[2019-10-16 12:27] JeffCordes commented on #159
Thanks Gary.

FWIW, my concern with using the a full bot state object has to do with test-ability.   You can not mock a BotState for a unit test, but you can mock and setup an IStatePropertyAccessor<T>.

Whatever way you chose to go, perhaps some unit tests around this dialog in this source code that would both ensure it is tested, and provide a sample to end users of how to write unit tests on co

[2019-10-16 12:31] garypretty commented on #159
Thanks @JeffCordes. I absolutely want to get more tests in place.  In terms of testability, on the SDK team we actually use MemoryStorage in most cases, along with a test adapter, in order to test things like this, which means we don't need to mock the state. I've been pretty busy last couple of months with joining the SDK team, but it is high on my priorities to significantly increase certain ele

[2019-10-17 15:41] garypretty commented on #146
@EricDahlvang that's totally fine. Just looking to assign it if I can. It can totally wait a couple of weeks. I'm in the same boat. 😀👍

[2019-10-17 20:42] garypretty commented on #146
Quick update on this - we are hoping to get to this issue in the first half of November if nobody picks it up in the meantime.

[2019-10-17 20:42] garypretty commented on #144
Quick update on this - we are hoping to get to this issue in the first half of November if nobody picks it up in the meantime.

[2019-10-19 01:18] arafattehsin opened #166 "[Sentiment Middleware Sample] - Port to MVC"
This is related to the base item #163.

I'll be taking care of this one right now.

[2019-10-20 15:03] beldesk commented on #154
Hi,
I am also facing same issue when we test alexa from Alexa Simulator.
"message": "An exception occurred while dispatching the request to the skill."

[2019-10-22 11:03] joe-tossell-mando opened #168 "Alexa Adapter - ShouldEndSession"
ShouldEndSession should be set to null for certain directives but the adpater always sets this value. I've encountered this issue particularly when adding a VideoDirective. The issue is also documented here:
https://github.com/timheuer/alexa-skills-dotnet/issues/166

Am unable to find Amazon documentation specifying this.

[2019-10-22 16:51] troops579 commented on #154
@garypretty  Thank you for your reply. Please let me know if you need any other info on this issue.

Error is as below on JSON input side of Alexa simulator / test screen

	"request": {
		"type": "SessionEndedRequest",
		"requestId": "amzn1.echo-api.request.4ee08f5e-.............",
		"timestamp": "2019-10-22T16:35:38Z",
		"locale": "en-US",
		"reason": "ERROR",
		"error": {
			"type": "INVALID_RES

[2019-10-30 08:21] ladeak opened #169 "Alexa Adapter add support to Geolocation"
Based on Alexa [docs](https://www.developer.amazon.com/docs/custom-skills/location-services-for-alexa-skills.html), we can get geolocation from mobil devices.
A suggest that this should be supported on AlexaContext type.

[2019-11-06 07:21] ladeak commented on #169
https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/pull/170

[2019-11-07 17:59] marcasmar94 commented on #128
Any updates?

[2019-11-13 14:05] mirkon90 commented on #128
same issue here @garypretty @arafattehsin any news or clues?

[2019-11-13 22:32] JohnRobertGreen commented on #128
Its been a while since I looked at this. My recollection is that when you use the "Try it now" feature on the DialogFlow, Fulfilment page your bot will receive the fulfilment request I posted above and the bot google adapter throws a bunch of errors. However when you test via the "See how it works in Google Assistant" link (just below the Try it now textbox) your bot will receive a fulfilment requ

[2019-11-19 13:46] #144 closed

[2019-11-19 13:47] garypretty commented on #169
#170 merged.

[2019-11-19 13:47] #169 closed

[2019-11-19 13:50] garypretty commented on #159
I am closing this, as I think we have addressed the core issue of not altering the behavior of passing botstate.  Testing being improved is an all up wider goal for this repo.

[2019-11-19 13:50] #159 closed

[2019-11-19 14:37] garypretty commented on #164
Added stylecop rules in PR #171. All stylecop rules shown as warnings.  WarningsAsErrors will be enabled per project as warnings corrected. @arafattehsin If you make any changes on any projects, please try and do a pass and fix as many warnings as you can. Thanks.

[2019-11-19 14:37] #164 closed

[2019-11-19 19:34] arafattehsin commented on #164
Sure @garypretty, noted!

[2019-11-22 23:39] EricDahlvang commented on #146
Was this fixed with: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/commit/7cf59209e2898f277c1ae506050b01247c6dea52#diff-ea7f00989b869c83f816ed6cf9080c85 ?

[2019-11-27 22:43] CoHealer commented on #137
Is this still a follow up item Gary? Perhaps for R8/9?

[2019-11-28 02:54] garypretty commented on #137
@CoHealer I believe the Adaptive Card prompt is now a candidate for R8? I know there is an open PR from @mdrichardson (https://github.com/microsoft/BotBuilder-Samples/pull/1986). What I am unsure about is if the agreement was just for a prompt or for a broader package.@mdrichardson / @v-kydela can you confirm?
If just the prompt is headed for the SDK, @v-kydela are you still open to adding an adap

[2019-11-28 03:01] garypretty commented on #146
@EricDahlvang That PR resets the state on begin but, as per your comment above, I don't know if we need to call it anywhere else?  Certainly calling it on begin should resolve the issue of reusing the same dialog a second time I think. I've not had time to look into it - knowing this code a little better than I do, what's your take?

[2019-11-28 03:08] garypretty commented on #157
Closing this as it overlaps with #146. @v-kydela per your comment regarding how FormFlow is implemented in terms of state, I think this is likely to do with when it was developed, before GA of v4 if I remember rightly, which means some of the patterns used now were not baked yet. Do you think there is a case to update this now? @EricDahlvang do you have an opinion here?

[2019-11-28 03:08] #157 closed

[2019-11-28 12:32] #166 closed

[2019-11-29 16:52] v-kydela commented on #137
@garypretty - Yes, I am still working on it. I've already made idea 1.

[2019-11-29 16:57] v-kydela commented on #157
@garypretty - I suspect the problems have more to do with trying to follow the patterns of v3 than trying to follow the patterns of v4. Yes, I do still think there is a case to fix this FormFlow package if we want to tell people it's usable. And I did acknowledge the overlap with #146 in my first sentence but I went on to explain why I opened this as its own issue, but it's fine if you want there

[2019-11-29 17:01] v-kydela commented on #146
@EricDahlvang - Why does that only reset `_formState` and not `_state`? Perhaps it would have been better to use my issue to track this problem: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/157

[2019-11-29 17:52] garypretty commented on #146
@EricDahlvang @v-kydela sorry both. Trying to triage and progress issues whilst on vacation 😁 hence I missed the reasoning for having a separate issue. Happy to reopen @v-kydela if we think that's the best approach. Or maybe we can agree an approach between us and ensure it is documented in a single issue to reduce the noise?

[2019-11-29 18:31] paul198204 commented on #146
Hi,Sorry for late reply on this. This PR should fix the issue (using form steps state on next turns after form closing) with _formState refresh and we may need some other fix to address _state (using the dialog instance state on next turn after form close) refresh issue.ThanksPraveen V Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Gary Pretty <notifications@github.com

[2019-12-05 14:06] Hellitself opened #180 "middlewares"
Greetings BotCommunity,

first of all, much thanks for your Bot.Builder.Community.Adapters.Twitter.

i am having an issue with the adapter as follows:
when adapter is done receiving and parsing the message, it calls straight up _Bot.OnTurnAsync
meaning, that it skipped all other middlewares i have in my solution, which is causing a problem.

any idea how could this be improved in such it will call

[2019-12-08 21:05] sawmixer opened #181 "Reading from ElasticsearchStorage storage don't not work (no such index)"
Hello.
I check scenario of storage usage from
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp

**Expected result (work with MemoryStorage):**
Bot: Hello and welcome!
Me: Hello
Bot: 1: The list is now: Hello
Me: world
Bot: 2: The list is now: Hello, world

**Actual result:**
Bot: Hello and welcome!
Me: Hello
Bot: 1: The list is

[2019-12-14 14:08] garypretty commented on #180
@Hellitself thanks for the feedback.  A review of the Twitter adapter is on our backlog, but I will take a look at this issue specifically and come back to you.

[2019-12-24 10:35] stoiveyp commented on #168
FYI, if the adoption of Alexa.NET gets merged in - I've just submitted a fix by allowing Directives to identify a required ShouldEndSession value

https://github.com/timheuer/alexa-skills-dotnet/pull/188

[2019-12-27 12:32] garypretty commented on #168
@stoiveyp Thanks for letting us know about this and for the fix. I'll remove the workaround we have in the adapter for this.

[2019-12-27 15:38] JaredLLewis opened #183 "Question how to ShouldEndSessionByDefault to false for singular response for alexa adapter"
Using .NET core 2.0 on version 4.5.3:
I know I can set this value in startup.cs to false to have one persistent conversation but not sure how to set this value for one time when startup has it set to true. I tried using:
turnContext.Activity.AsMessageActivity();
turnContext.Activity.InputHint = "acceptingInput";
and then using the async send activity to send a message, however, the alexa response

[2020-01-04 11:40] arafattehsin opened #185 "[ChoiceFlow Dialog Sample] - Port to MVC"
Assigning it to myself. This is related to the enhancement #163

[2020-01-09 16:54] pdkn opened #187 "Example of using the "Bot Framework Emulator" with AlexaAdapter"
Is it possible to use the Emulator to debug an AlexaAdapter bot? I'm currently in local development, using ngrok endpoint on AWS in the Alexa Skill. The response is error'ing with a log statement "the application completed without reading the entire request body." I'd like to use the Emulator with a fake request to test the logic and set breakpoints to step through the code. Thanks

[2020-01-09 21:06] v-kydela commented on #137
I should mention that the scope of this idea has increased somewhat since I think that much of what people want to do with Adaptive Cards also applies to other rich cards (like disabling them), so I'm now just calling this the cards library. I've been working on this pretty heavily over the last month and I've been pushing my progress in the feature/cards branch.

[2020-01-13 07:15] gmajian opened #188 "Google adapter doesn't convert SuggestedActions in outgoing activity"
In README.md it mentions "Automatic conversion of Suggested Actions into Google Suggestion Chips". As I tested, it doesn't work. I also found the cause of the bug. Will submit PR soon.

[2020-01-13 07:33] arafattehsin commented on #188
Thank you @gmajian for the contribution.

[2020-01-15 11:24] garypretty commented on #188
@gmajian Thanks again for the contrib.  This has been merged. An updated release should be available in the next 24 hours. Thanks.

[2020-01-15 11:24] #188 closed

[2020-01-15 11:25] garypretty commented on #185
@arafattehsin Thanks! Merged the PR. Good work :)

[2020-01-15 11:25] #185 closed

[2020-01-15 11:27] garypretty commented on #183
@JaredLLewis Send an InputHint of 'AcceptingInput' will just fallback to the adapter default.  If you want to explicity override the adapter, you can send 'ExpectingInput' to leave the conversation open, or 'IgnoringInput' to close the conversation, depending on your needs.  Hope that helps.

[2020-01-15 11:31] garypretty commented on #187
@pdkn The emulator won't be the right choice here, but you can achieve what you are looking for.
My recommendation would be the following.

1. Download a tool like PostMan so that you can post directly to your Alexa endpoint. e.g. '/api/alexa'
2. Grab an example request JSON from the Alexa simulator.
3. In your adapter settings, set **ValidateIncomingRequests** to false - this will ensure the bot

[2020-01-15 11:33] garypretty commented on #73
@damadei Just a quick update on this.  I have a new preview for the Google adapter coming out in the next 24 hours (providing everything goes well 👍 ). This includes support for list / carousel / table card etc. plus updated documentation!  It would be great to get your feedback.
Sorry it took so long!

[2020-01-15 11:57] marcasmar94 commented on #188
@garypretty will the Twitter adapter be getting any updates soon ?

[2020-01-15 14:33] garypretty commented on #73
@damadei - I have now made the preview available via MyGet, which includes both list and carousel support (along with more!) with all new documentation - you can find the updated docs, which detail how to get access to the preview package here -> https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/feature/google-adapter-refactor/libraries/Bot.Builder.Community.Adapters.Google/R

[2020-01-15 14:33] #73 closed

[2020-01-15 14:35] garypretty commented on #128
I have now made the preview of the updated / refactored Google Adapter available via MyGet with all new documentation - you can find the updated docs, which detail how to get access to the preview package here -> https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/feature/google-adapter-refactor/libraries/Bot.Builder.Community.Adapters.Google/README.md

Please let me know if yo

[2020-01-15 15:04] garypretty commented on #123
PR raised #192 - this will go out in the next release.  Also updated in the new adapter preview to ensure this fix makes it into that as well.  @sremy91 thanks again for the heads up.

[2020-01-16 16:31] pdkn commented on #187
Thanks 🙏@garypretty I'll investigate

[2020-01-16 16:32] garypretty commented on #187
Thanks @pdkn. I will close this for now, but please re-open if you get stuck or need any other assistance. 👍

[2020-01-16 16:32] #187 closed

[2020-01-22 19:38] #123 closed

[2020-01-22 19:38] garypretty commented on #128
Closing this issue as the new docs are now in place - they will go out as the preview moves to GA.

[2020-01-22 19:38] #128 closed

[2020-01-22 19:42] garypretty commented on #154
I haven't been able to repro this issue - I would suggest that you give the preview of the updated Alexa adapter (https://www.garypretty.co.uk/2019/12/02/bot-builder-community-alexa-adapter-update-preview/) a go and see if you still encounter issues.  I am going to close this issue for now as it is pretty old now with no activity. Thanks.

[2020-01-22 19:42] #154 closed

[2020-01-23 16:07] aishwaryaumachandran opened #194 "GOOGLE ADAPTER - Distinguish between a Google Home Device and Google Assistant App"
We have enabled the account linking feature in Google Actions. When we tried publishing the Bot, we came across the issue of linking the account via the trigger "Link my account"

We currently want to distinguish the channel name in the TurnContext to identify if it is from a Google Assistant app or a Google Home device. If it is from a google assistant app, a redirect URL can be provided versus t

[2020-01-30 17:38] garypretty commented on #183
Closing this. Please re-open if the advice above doesn't fix your issue. Thanks.

[2020-01-30 17:38] #183 closed

[2020-01-30 17:43] garypretty commented on #194
The full request from Google is available within the activity.ChannelData property, which contains information you can use to determine what capabilities the user's device has (you cannot tell the exact device type, but you can see if they have audio / visual capabilities etc.).

There are a couple of extension methods for the turn context to help you here, so you could do;

This one will return a

[2020-01-30 17:48] garypretty commented on #168
@joe-tossell-mando The PR in Alexa.Net (https://github.com/timheuer/alexa-skills-dotnet/pull/188) has been merged.  Awaiting a release so we can utilise in the updated adapter.

[2020-01-31 18:33] garypretty commented on #168
This has now been added into the Alexa preview package and will be released over the next couple of weeks. Thanks for reporting @joe-tossell-mando and for your help @stoiveyp!

[2020-01-31 18:33] #168 closed

[2020-02-03 06:52] haitham-shaddad commented on #180
@garypretty  I will have a look at this one if you have not fixed it already.

[2020-02-06 01:39] arafattehsin commented on #194
Hi @aishwaryaumachandran - I hope you'll be able to implement the logic as per your requirement now. 🥇 Please re-open this issue if you encounter any bug. Closing this one for now!

[2020-02-06 01:39] #194 closed

[2020-02-07 07:26] garypretty commented on #180
@haithad-shaddad yes please that would be awesome. Thanks for the offer. More contributors are always welcome and great to see!

[2020-02-19 01:46] arafattehsin opened #199 "[BestMatch Middleware Sample] - Port to MVC"
Assigning it to myself. This is related to the enhancement. #163

[2020-03-07 22:49] gitguy007 opened #201 "Publish google adapter sample project results in Error 505 - Process failure"
I am having trouble with the Google Adapter sample project as i am able to test it in the Emulator but whenever i publish, it will give me a server error 505 (as per attached screenshot).

Appreciate any advice given.

![error 505 - process failure](https://user-images.githubusercontent.com/23579183/76153552-5b713580-6108-11ea-9bcd-acfa831196bc.png)

[2020-03-09 15:41] marcasmar94 opened #202 "[TwitterAdapter] [Feature-Request] Middlewares - Payload - Attachment - Buttons"
Is anyone working on these features in the Twitter Adapter ?

- Support for Middlewares
- Support for Quick Reply **metadata**
Metadata that will be sent back in the webhook request
- Support for Media Attachment
Images, GIFs, video
- Support for Buttons (CTAs)

[2020-03-27 23:59] v-kydela commented on #137
Progress update: the project is mostly divided into the Translation folder and the Management folder, with the Management folder being many times more complicated. It handles card tracking by exposing functionality in three major classes: `ManagementExtensions` (for operations that don't use bot state), `CardManager` (which requires a state accessor), and `CardManagerMiddleware` (which uses a card

[2020-03-30 08:58] garypretty commented on #201
@gitguy007 Apologies for the delay here - I have researched this and have found the issue to be the Assembly Name setting within the csproj file properties.  Right now it is set to "Google Adapter Sample".  If you change this to "GoogleAdapterSample" and deploy then the project should load correctly.

[2020-03-30 21:25] gitguy007 commented on #201
Hi Gary, thanks. I am able to publish it now. However, when i try to get a response via /api/messages, it gives me an error 405.

It is the same thing with /api/actionrequests (this was stated in the instructions to setup the webhook in DialogFlow)

Any reasons why this is happening ?

![image](https://user-images.githubusercontent.com/23579183/77963215-90d80000-730f-11ea-9487-dd87472124c0.png)

[2020-03-30 21:32] garypretty commented on #201
Yes, it's going to either be api/actionrequests I think.

[2020-03-30 21:38] iMicknl commented on #201
@gitguy007 error 405 is because you are doing a GET request to the endpoint, while the endpoint most likely only supports a POST request. If you would use Postman or a similar tool for testing, you will notice that your endpoint is working. (or just use it for the Google Actions)

[2020-03-30 21:50] gitguy007 commented on #201
Thanks, iMicknl .. Postman seems to be returning a response from the site where I host the app service.

When I go to my Google console to test and invoke the webhook, it gives me the error below in the first screenshot below.

This could be due to header or authentication information that needs to be provided in the second screenshot ?

I have already tried entering the appId and appPassword in t

[2020-04-16 18:57] C0d1ngJammer opened #231 "How to integrate Bot.Builder.Community.Adapters.Alexa with Microsoft Bot Dialog?"
Hello there,

iam trying to integrate Amazon Alexa to my Microsoft Bot Builder Dialog and found the "Bot.Builder.Community.Adapters.Alexa" Adapter.
There are two things which makes it difficult for me to create an working App:
	I only can get Alexa working without the Dialog mechanism
	It does not seem to work for multiple Endpoints (Bot-Emulator and Alexa --> See Question below)

I have tried it

[2020-04-16 22:54] arafattehsin commented on #231
@C0d1ngJammer - Too many questions 🙂 but thank you for asking and I appreciate your time. I'd love to re-direct you to our [latest sample for Alexa](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/feature/adopt-alexadotnet/samples/Alexa%20Adapter%20Sample
) queries. This branch is still WIP unless it gets merged to the master therefore I won't recommend it for production us

[2020-04-17 19:24] C0d1ngJammer commented on #231
@arafattehsin Okay, so now Iam getting everthing working - Thanks!
Alexa and Bot-Emulator are both working with one instance running.

Just had to reference the libs "Bot.Builder.Community.Adapters.Alexa" and "Bot.Builder.Community.Adapters.Alexa" manually from the .../libraries folder and added some parts of the "19.custom-dialogs"-Project.

So the "latest sample for Alexa"-Branche seems to work

[2020-04-18 02:14] arafattehsin commented on #231
Hi @C0d1ngJammer - I am glad that it worked for you. Regarding the latest exceptions, we will get back to you but I wanted to learn where did you read about .NET MVC being obsoleted? Can you point me to that link.

To answer your last question as when the Alexa Adopt branch will be published: soon (the date isn't decided yet but it won't be too long from today).

[2020-04-19 20:43] C0d1ngJammer commented on #231
Hey @arafattehsin - Thank you for your support!

Sorry - I understood following wrong:
"...current plan is to drop the support for ASP.NET Web API. This decision was made as we don’t believe that the Web API integration is widely used and this would be a good opportunity for us to reduce our surface area..."
https://www.garypretty.co.uk/2019/12/02/bot-builder-community-alexa-adapter-update-preview

[2020-04-19 20:43] #231 closed

[2020-04-20 10:29] garypretty commented on #181
Hopefully this issue should be resolved from the PR just merged to update to 7.x - #233

[2020-04-20 10:29] #181 closed

[2020-04-20 10:31] garypretty commented on #201
@gitguy007 Did you manage to resolve this issue?  Apologies for the delayed reply.

One thing you could check is what the WebHook Type is that you have set on the adapter and ensure it is set to DialogFlow?

[2020-04-20 10:32] garypretty commented on #199
Closed via #200

[2020-04-20 10:32] #199 closed

[2020-04-28 22:43] C0d1ngJammer opened #239 "How to handle names (locations, cities...) with the alexa adapter?"
Hello there,
my bot is using phrases like "Get the next bus arriving at <'station'>" or "Connection from <'station1'> to <'station2'>". When defining the phrase as followed:

[code]
(from [Github Amazon Alexa Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Alexa) )

Alexa, of course,  doesnt understand the stations.

[2020-05-02 08:04] gitguy007 commented on #201
Hi @garypretty , it is still returning the same error to me. May i know where to check the Webhook Type ? Could it be response mapping issue ?

Btw, the sample project deploys to "/api/messages" coz that is the one working when i connect to it via Emulator. It doesn't return any response via "/api/actionrequests".

Thanks very much for any advice and guidance.

[2020-05-11 21:15] JaredLLewis opened #248 "4.8.* nuget package seems to have no assembly reference to AlexaIntentToMessage Middleware"
Hello,

I am trying to upgrade the Bot.Builder.Community.Adapters.Alexa DLL in my project from 4.5.3 to 4.8.5. I followed the Echo bot sample but I am unable to add the middleware to the adapter using this code:

`Adapter.Use(new AlexaIntentRequestToMessageActivityMiddleware());`

I am writing the following using statement

`using Bot.Builder.Community.Adapters.Alexa.Middleware;`

This reference d

[2020-05-12 22:17] JaredLLewis commented on #239
If you'd like to stay in the realms of Alexa, you may want to consider adding a middleware to transform the intent request from Alexa into message activity(See this for a code example [link](https://github.com/microsoft/botframework-solutions/issues/2403)). You will need to add a new, well defined, Intent with good utterances (so the NLP doesn't get confused with the GetIntent).

If you are going

[2020-05-14 09:33] garypretty commented on #248
HI @JaredLLewis - the Alexa adapter has recently undergone some significant refactoring and the job the middleware used to carry out is now handled directly by the adapter itself, so you no longer need it.  Activities will automatically be transformed for you and you can see more details about the transform here https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/librar

[2020-05-14 09:39] garypretty commented on #239
Hi @C0d1ngJammer

Really sorry for the delay in coming back to you on this issue.  In the first instance I would suggest that you add the stations entity (either as a list entity or a simple entity) into a LUIS model and run the utterances through that. This will allow you to continue to use the default setup for the adapter and still extract your stations on incoming activities.

If this isn't wo

[2020-05-14 09:41] garypretty commented on #201
Sorry to hear you are still having this issue.

The webhook type is on the options class you pass in when you create the adapter.

There is a significantly improved / refactored Google adapter on the way to NuGet in the next couple of days, so I would suggest that if you don't have any luck with the webhook type, that you try that.  I'll be publishing much improved docs for the adapter too.

[2020-05-16 21:39] C0d1ngJammer commented on #239
Hello,
thank you for your responses.
@JaredLLewis: How can I stay away from alexas Intent management system? If alexa doesnt understand the user and sends the wrong phrase to my application, luis isnt able to handle the request.

@garypretty: I might wanna break down the main thing, Iam trying to archive here:

Iam trying to create a Bot which is able to handle multiple channels with the same core

[2020-05-19 14:24] NickEricson commented on #248
@JaredLLewis Have you had a chance to try what @garypretty suggests?

[2020-05-19 14:35] NickEricson commented on #239
@C0d1ngJammer - I want to be sure I understand.

When the users of your skill say a phrase in/to Alexa it does a Speech-to-Text conversion and sends it to your bot. In your bot you use Luis to do intent recognition (same as done for all the other channels you support). However, without adding intents into the Alexa portal that Speech-to-Text conversion is not working. The incorrect text is being f

[2020-05-19 16:24] twardpragmaticworks opened #260 "GoogleAdapter: Access to user information via response?"
The Alexa adapter offers the below function to access personal data stored on the device.  Does the Google adapter offer anything similar?

[code]

[2020-05-21 17:23] JaredLLewis commented on #248
Hey guys. Thanks much for the reply. I was using the alexa session attributes because I didn't realize it automatically transformed the session attributes from the state management. My only question now is how can I set a custom re-prompt message? Is this possible?

[2020-05-23 10:44] C0d1ngJammer commented on #239
@NickEricson
That is exaclty what Iam trying to archive.
The example of this incorrect conversion is the last json example (from the alexa-skill) in my question.

If the user says e.g. "I want from Widdumhof to Miedelsbach-Steinenberg" alexa doesnt recognize "Widdumhof" and "Miedelsbach-Steinenberg" as station names.  Everytime the user ask the same question, alexa understands it different, most o

[2020-05-23 10:51] garypretty commented on #239
@C0d1ngJammer can you provide a couple of examples of what Alexa transforms the text into when you say it doesn't recognize the station names please? I.e. The activity.Text that is received by your bot.

[2020-05-26 14:28] gitguy007 commented on #201
Hi garypretty, i am trying to publish the new sample that was published.

Just wanted to highlight tt can run in localhost but when publishing there are errors.

There are two issues that I had to fix before being able. Here is how i resolved it and got it working online.

1. Encountered Process failure error (502.5) - Similar to my first post in this thread, the Project Assembly name needs to be

[2020-05-26 14:43] gitguy007 commented on #201
And its working now ! :)

Many thanks everyone who has given their advice.

Issue closed.

[2020-05-26 14:43] #201 closed

[2020-05-26 15:41] garypretty commented on #248
HI @JaredLLewis - it is no longer possible to set a custom re-prompt message, as we automatically set it for you (using the original text content) if you are expecting further input from the user.  If this is a problem, I would be interested to know more about your scenario so we can understand if there is anything we can do.

[2020-05-27 13:43] samaea opened #261 "Link to the WhatsApp adapter leads to a 404"
The link on the repro's homepage for the "InfoBip WhatsApp Adapter" hyperlink leads to a 404 page. I believe it should link to https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/master/libraries/Bot.Builder.Community.Adapters.Infobip.

[2020-05-27 20:27] twardpragmaticworks opened #263 "Latest Google Adapter not compatible with QnA Maker or Luis"
Configuration:
    <PackageReference Include="Microsoft.Bot.Builder" Version="4.9.0" />
    <PackageReference Include="Microsoft.Bot.Builder.AI.Luis" Version="4.8.0" />
    <PackageReference Include="Microsoft.Bot.Builder.AI.QnA" Version="4.8.0" />
    <PackageReference Include="Bot.Builder.Community.Adapters.Google" Version="4.8.6/.7" />

Reverting to 4.6.4 resolves.  Was receiving null reference

[2020-05-28 16:48] NickEricson commented on #261
@samaea Thank you for reporting this. We have fixed the link.

[2020-05-28 16:48] #261 closed

[2020-05-28 16:51] NickEricson commented on #248
Hi @JaredLLewis  - I know it hasn't been long but just checking in. Does what @garypretty mentioned work for you?

[2020-05-29 17:12] EricDahlvang commented on #146
I am of the opinion we should close this issue until we have other complaints.  There are a lot of people using this library as-is, and they do not seem to behaving problems.  If we get other complaints, it might become worth the risk of updating.

[2020-05-29 17:13] garypretty commented on #146
Agreed. Closing.

[2020-05-29 17:13] #146 closed

[2020-05-31 14:56] garypretty commented on #263
Can you please provide a little more detail about the issue you are facing?  Specifically what do you mean that the adapter is not compatible with LUIS or QnA Maker? There have been several changes to the Google adapter recently, so we need to identify what exactly is happening.

[2020-05-31 15:21] garypretty commented on #260
Hi.

You can obtain the users Name (display / given / family name), coarse location (zip code / city) or precise location (coordinates / street address) by using the Permissions intent (you can read more about the intent here -> https://developers.google.com/assistant/conversational/helpers#user_information).

When you send the Permissions intent (as an attachment on your outgoing activity), if th

[2020-05-31 15:22] garypretty commented on #239
Hi @C0d1ngJammer - just following up again to see if you can provide any examples for us as per my message above?

[2020-06-01 15:32] NickEricson commented on #248
Hi @JaredLLewis - I am going to close this out. Please re-open if you are still experiencing this or are interested in a change in functionality.

[2020-06-01 15:32] #248 closed

[2020-06-01 18:12] C0d1ngJammer commented on #239
Hello @garypretty,
sorry had vecations :).

here is the example as mentioned. The invocation name is "github test" and is using the above json.

**1. The user wants from station"oberhof" to station "wallgraben"**
He asks alexa following (spoken in german):
    frage github test verbindung von   **oberhof** nach **wallgraben**
    (ask   github test connection  from **oberhof** to      **wallgraben

[2020-06-02 08:17] garypretty commented on #263
You can find the latest docs for the Google adapter at https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Google.  It would be great if you can compare your current configuration to this to identify where there might be a change.  Please let us know if you identify it so we can add a sign post to the docs or make a fix in the ad

[2020-06-02 09:26] garypretty commented on #239
Hi @C0d1ngJammer - thanks for the examples.  As I suspected, this is a limitation on the use of a single slot to grab all of the text spoken by the user.  I did some tests and one thing you could do is to use custom slots for Alexa, as you stated, and add some additional code to your adapter to transform them into message activities, so that you don't need to change your core bot code.

For exampl

[2020-06-02 10:02] garypretty commented on #151
Closing this. Many people are using this package without issue currently and I would rather not change the implementation unnecessarily.  We can revisit if further issues become apparent.

[2020-06-02 10:02] #151 closed

[2020-06-02 11:03] twardpragmaticworks commented on #263
@garypretty
When passing the stepContext to the Luis Dispatcher or QnA Maker (The Microsoft Nuget packages for each respectively), a null object reference exception was returned.   My configuration is identical aside from the version.

See code below:

[code]

[2020-06-02 11:05] garypretty commented on #263
@twardpragmaticworks Can you confirm what the stepContext.Context.Activity.Text value is please before you pass in the context to the recognizer?

[2020-06-02 11:17] twardpragmaticworks commented on #263
StepContext.Context.Activity.Text returns the utterance as expected, StepContext.Result however returned null.

[2020-06-02 19:14] #239 closed

[2020-06-02 19:22] C0d1ngJammer commented on #239
@garypretty Thank you.
Now that I definitely know, that there is no "workaround" to this Problem (caused by the structure of Amazon Alexa and my usage) I'll go as you suggested.
I gonna mirror my luis intents to amazon alexa intents, than I'll tell my core bot to not use the luis intent when a request is recived from Alexa. Iam converting all requests (alexa or not) by a custom converter class whi

[2020-06-02 19:54] garypretty commented on #239
@C0d1ngJammer thanks. I am pleased we managed to help. Please let us know how you get on with this - I am keen to know.

[2020-06-04 20:25] guilhermecaixeta opened #272 "Adapter doesn't works when a request is ConnectSkill type"
Currently I've been trying make a skill connection between two alexas skills, but the provider skill is a type of bridge to the Botframework skill.

If I call the skill directly works well, but if I try call it by a connection skill directive an error is throw in the serialization of request.

The message is: `unable to deserialize response. unrecognized task type '' with version ''`

Alexa.Adapte

[2020-06-05 00:20] AndyfromPBG commented on #263
For what it's worth, I'm getting the same error. I followed the guide that Gary linked to. Thanks so much for your help, I'm looking into it myself and not just waiting on a handout. Here's my stack trace:
   at Microsoft.Bot.Builder.AI.Luis.LuisRecognizer.FillLuisEventPropertiesAsync(RecognizerResult recognizerResult, ITurnContext turnContext, Dictionary`2 telemetryProperties, CancellationToken c

[2020-06-05 08:26] garypretty commented on #263
Thanks for the stack trace. I have an idea now - I suspect this might be due to a null user Id on the activity, which is probably throwing an exception when logging telemetry. I'll repro this morning and if it is I will get an update out today (or at the very least a workaround for you until one is available).

[2020-06-05 11:16] twardpragmaticworks commented on #263
@AndyfromPBG 4.6.4 Adapter works in the interim.

[2020-06-05 16:32] AndyfromPBG commented on #263
@twardpragmaticworks Thanks for the info, it would have taken me a while to get all the way down there, ha. In case anybody else needs to revert the setup to that version, it looks like this is the right readme: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/3dd51332c9986e21412e55f399918cb22dadab73/libraries/Bot.Builder.Community.Adapters.Google/README.md

[2020-06-07 16:48] AndyfromPBG opened #273 "Alexa rarely reading choices in choiceprompt"
I started with the echo bot and customized to my scenario, but I've found that my choice prompts (via a waterfall sub dialog of the main dialog) often don't get read. They will rarely- I'd say once out of twenty times or so, and I can't find a pattern. I hate to just throw up my hands and say it's a bug and not my fault, but I don't see much I could be doing wrong. I'd be glad to do some legwork i

[2020-06-09 14:57] NickEricson commented on #273
@AndyfromPBG The conversion from Activities to an Alexa Response is done in two steps:

1) Merge Activities into a single activity: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/144427091d2ad5315e00fe67228f3ad804463f62/libraries/Bot.Builder.Community.Adapters.Alexa.Core/AlexaRequestMapper.cs#L137
2) Convert the Activity to an Alexa Response: https://github.com/BotBuilderC

[2020-06-09 15:10] NickEricson commented on #272
@guilhermecaixeta any chance you have the call stack and the specific message you are sending from your bot/alexa?

[2020-06-09 15:46] AndyfromPBG commented on #273
@NickEricson Thanks so much, I bet this will be enough to get me going but I'll either post when I figure out what I did wrong or send you more details.

[2020-06-09 23:32] AndyfromPBG commented on #273
I feel beyond stupid- all I had to do was not supply a SSML text value, and then the regular text value, read aloud with all the choices, came through the speaker. I'm guessing that the SSML value overrides whatever the text value ends up as, so just not specifying it was the way to go. Closed, thanks!

[2020-06-09 23:32] #273 closed

[2020-06-11 00:54] v-kydela commented on #137
I've finished the middleware tests and I built a working sample in the branch feature/cards/sample. I plan on merging that branch into feature/cards before it gets merged into master.

In preparation for demoing the cards library, I've built [this mermaid diagram](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgc3ViZ3JhcGggYmF0Y2hbIF1cbiAgICAxKEJhdGNoKVxuICAgIFp

[2020-06-11 13:16] C0d1ngJammer commented on #239
Hello @garypretty

here is my current (working prototype) solution:
First I have created a tool which clones my Luis Intents to Amazon Alexa so they are the "same".
(By the way I'll have to pay luis.ai to be able to add more than 50 stations)

In your example you are overriding the Method `RequestToActivity` in `AlexaAdapter`. The problem with that is, that I would have to manage my intents twice

[2020-06-11 16:29] NickEricson commented on #239
Hi @C0d1ngJammer

It is great to hear you got things working. I'm curious what the values of the Entity Values and Names look like for you. For example if someone says, "frage github test verbindung von oberhof nach wallgraben" what do you get in the IntentRequest?

There may be a way we could map these into the Entities property of the base Activity or maybe into a Semantic Action.

Entities: htt

[2020-06-11 16:38] garypretty commented on #260
I'm going to close this out now, let me know if the above doesn't help.

[2020-06-11 16:38] #260 closed

[2020-06-11 16:39] garypretty commented on #239
I would also be super curious to know what your conversion tool looks like and if this might be something we could share with the community? Sounds super useful.

[2020-06-13 00:04] guilhermecaixeta commented on #272
@NickEricson sorry for my late, as soon as possible I'll update this issue with the call stack. Thank you for your availability.

[2020-06-15 15:55] #162 closed

[2020-06-16 13:33] rvinothrajendran opened #275 "Adding NumberWithTypePrompt"
Adding  prompt support for Ordinal, Percentage, NumberRange, Number

[2020-06-18 14:18] jamesemann opened #277 "Alexa - locale not populated on launch requests"
#### Background

We've upgraded to 4.9 and spotted an edge case which I think is a bug in the new Alexa adapter.  Some of our customers use auto translation which uses the `activity.Locale` field on the launch message.  This used to be mapped on all requests but now it is only mapped where it an intent is triggered (see [this line](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet

[2020-06-18 17:23] garypretty commented on #277
Hi @jamesemann. I think your proposal makes sense, so please do go ahead and raise a PR. Thanks.

[2020-06-19 12:30] rvinothrajendran opened #278 "Adding Dialog Prompts"
Add all the missing prompts in dot net
1.	Email
2.	Phone number
3.	IP address
4.	Social Media
5.	Internet

@garypretty will create a PR ?

[2020-06-19 12:45] garypretty commented on #278
@rvinothrajendran i haven't got capacity to pick this up at the moment. Let's label it as needs help and see if anybody else can assist.

[2020-06-19 12:47] rvinothrajendran commented on #278
@garypretty Will I take ?

[2020-06-19 12:53] garypretty commented on #278
@rvinothrajendran if you have capacity then great.

[2020-06-23 10:48] rvinothrajendran commented on #275
@garypretty If you get time , kindly review the changes

[2020-06-23 11:08] Rufus1123 opened #279 "Form appears to destroy the dialog stack"
We have SubDialog in MainDialog, and within the SubDialog, we have a WaterfallDialog. In the FirstStep of WaterfallDialog we call the Form like this:
[code]
We can successfully go through the form, however, when we start a SubSubDialog from within the SecondStep of the SubDialog, things seem broken.

The SecondStepExecutes and starts the SubSubDialog. There we have another WaterfallDialog the in t

[2020-06-24 08:34] devedse commented on #279
@EricDahlvang , Hi Eric, both me and Rufus1123 are working on this issue. We're both available to contact directly through teams if that's the communication system you prefer. Gary should have both of our email addresses :).

[2020-06-24 14:45] EricDahlvang commented on #279
@devedse Thanks, I spent some time looking at this yesterday. I'll ping you two on Teams.

[2020-06-24 20:14] C0d1ngJammer commented on #239
Hello,
sorry for my late response but iam just doing this for fun in my left over spare time.
@NickEricson the original Alexa-IntentResponse as json looks as follows:
[code]

@garypretty the tool currently only uses the luis api to connect and gather/update some data:
https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5890b47c39e2bb052c5b9c26
Right now Iam

[2020-06-25 10:42] guilhermecaixeta commented on #272
I would like to say sorry, I've been have some troubles because I'm use the skill of adapter as a skill connection, but to do this is needed to apply some requirements and now I don't have more access to the skill, but the error that I have it's referred to serialization of the Alexa request, this is the example of [request](https://developer.amazon.com/en-US/docs/alexa/custom-skills/implement-ama

[2020-06-25 16:22] jamesemann commented on #277
Hello, hello @garypretty. I've put in a PR 281 mentioned above for this.

[2020-06-29 08:42] garypretty commented on #277
PR #281 merged and will be included in next release. Planned for early / mid this week.

[2020-06-29 08:42] #277 closed

[2020-06-29 08:42] garypretty commented on #275
Addressed by PR #278

[2020-06-29 08:43] garypretty commented on #275
Closing as dup of #278

[2020-06-29 08:43] #275 closed

[2020-07-01 17:51] EricDahlvang commented on #279
There are definitely issues using Waterfall Dialogs with FormFlow.  Until we can get a fix released, the recommendation is to not use FormFlow within a Waterfall Dialog.

[2020-07-03 00:47] NickEricson commented on #272
@guilhermecaixeta No problem and thanks for following up.

I tried the request you mentioned (the launch - print pdf request) and, unfortunately I didn't get the error you are seeing. There could be a property that I'm setting that isn't set for you.

If you would like to keep looking into this let me know - otherwise I can close it out.

Here is what I sent through the adapter:

{
  "version": nu

[2020-07-03 10:05] guilhermecaixeta commented on #272
In a few words my problem occurs when the conversion occurs, I can achieve the Microsoft bot code. But I'll try see how I could simulate again and share the code here, sorry about that.

[2020-07-06 00:09] AndyfromPBG commented on #263
@garypretty Just a heads up, I'm finally getting around to this again. I'll download the source and have a look myself- thanks for the pointer. I'll report back with what I find.

[2020-07-06 19:21] AndyfromPBG commented on #263
The problem is somewhere in luis, so unfortunately debugging wasn't as quick as I'd hoped. Just so I don't lose track and in case anybody else picks this up, here's json of the activity coming from google:

{"Type":"message","Id":"e4f20e6f-2933-4947-8a86-fe23325a141a","Timestamp":"2020-07-06T19:06:56.4613299+00:00","LocalTimestamp":null,"LocalTimezone":null,"ServiceUrl":null,"ChannelId":"google","

[2020-07-18 11:29] rvinothrajendran opened #295 "Add Recognizers-text middleware"
Add all the missing Recognizers-text middleware

Email
Phone number
IP address
Social Media
Internet

@garypretty I will start work on this , Is that fine ?

[2020-07-18 11:37] rvinothrajendran opened #296 "Adaptive Card Prompt sample code"
@garypretty  ; Code has written in the Adaptive Card Prompt in readme.md file is not valid.
kindly confirm it.

[2020-07-18 11:39] rvinothrajendran opened #297 "Adding sample for Dialog Prompts"

[2020-07-24 12:57] garypretty commented on #272
Closing this issue out for now, but if you are able to share more details please re-open.

[2020-07-24 12:57] #272 closed

[2020-07-24 13:01] garypretty opened #301 "Re-write Twitter adapter to align with other community adapters and new API"
The Twitter adapter will be re-developed to use the same patterns as we now use for the other community adapters. e.g. Use of the shared adapter library, separate Core library for activity mapping and also to take advantage of the latest Twitter API.

[2020-07-24 13:01] garypretty commented on #180
Closing. This will be handled as part of #301

[2020-07-24 13:01] #180 closed

[2020-07-24 13:01] garypretty commented on #202
Closing. This will be handled as part of #301

[2020-07-24 13:01] #202 closed

[2020-07-24 13:04] garypretty commented on #263
I don't see anything wrong with the activity, other than some odd characters in the Text. Maybe you could try the same without the char?

Also, as an FYI, Google recently released a new version of the Actions SDK, which seemingly supersedes both the legacy Actions SDK and DialogFlow.  You can find the new adapter here -> https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/devel

[2020-07-27 09:28] #278 closed

[2020-07-28 03:21] rvinothrajendran opened #302 "Nuget package link is wrong in Dialogs.Prompts"
NuGet package link in Dialogs. Prompts referred the https://www.nuget.org/packages/Bot.Builder.Community.Dialogs.Location/  path it should be refer to
 https://www.nuget.org/packages/Bot.Builder.Community.Dialogs.Prompts/

[2020-07-28 18:20] garypretty opened #305 "Update Alexa / Google adapters to use Speak property on Adaptive Cards"

[2020-07-28 20:54] C0d1ngJammer commented on #239
Little update:
Now having access to azure (using a credit card). And there seems to be a API for Alexa https://developer.amazon.com/de-DE/docs/alexa/smapi/reference-based-catalog-management.html.
Application is close to be a prototype :)...yet I have to merge my code with the latest Alexa commits and find a bug with the ChoicePrompt...

[2020-07-29 19:08] garypretty commented on #301
Currently awaiting approval for the Twitter API

[2020-07-29 23:57] AndyfromPBG commented on #263
Odd, I got a null reference using the new adapter too. It must be something in how my code is configured, something in the bot initialization. I think I should probably start with the hello world and slowly introduce my bot code into it to find the problem.

   at Bot.Builder.Community.Adapters.ActionsSDK.Core.ActionsSdkRequestMapper.RequestToActivity(ActionsSdkRequest request)
   at Bot.Builder.C

[2020-07-30 01:49] #302 closed

[2020-07-30 07:00] garypretty commented on #263
@AndyfromPBG hey. This issue is referring to use of the legacy actions sdk / dialog flow adapter. Could you raise a separate issue for this using the new Actions SDK please?

I am keen to work with you to understand the issue here though as I want to ensure the new adapter is working.

Could you please share the json for the request from Google that is failing please? You should be able to get tha

[2020-07-31 17:43] kiranf3 opened #307 "Is it possible to translate timestamp inside bot into another Language other than in the bot framework"
![TimeBot](https://user-images.githubusercontent.com/69051620/89061948-3d3ff680-d383-11ea-8080-38afc54a509f.jpg)

[2020-08-01 14:26] rvinothrajendran opened #308 "Botbuilder community Adaptive dialog supported input"
Convert Bot.Builder.Community.Dialogs.Prompts to Adaptive dialog supported prompt.

@garypretty
I have tried EmailPrompt to Adaptive dialog EmailInput & Its working fine.
what's your idea? Will continue on this.

[2020-08-13 14:08] ahmetkocadogan opened #313 "About conributing the project"
Hello there.

I created an adapter for WhatsApp Business with MessageBird SDK. But i am not experienced with github, pull requests etc.

Is there anyone guide me to add my adapter to this repo ?

[2020-08-28 23:59] AndyfromPBG commented on #263
@garypretty Sorry to get back to you on this so late- I updated all my references and don't get this problem anymore, so there's nothing to post to the Actions board- consider it closed. Thanks so much for your hard work and help.

[2020-08-29 00:22] #263 closed

[2020-09-08 13:03] garypretty opened #319 "Speak tag with attributes breaks merge activity logic for Alexa"
The following json in an outgoing activity results in a duplicated speak tag in the resulting Alexa response.

 "speak": "<speak version=\"1.0\" xmlns=\"http://www.w3.org/2001/10/synthesis\" xml:lang=\"en-US\"><voice name=\"en-US-AriaNeural\">Microsoft Ignite will take place online, kicking off on the morning of September 22, at 8:00 AM in the Pacific Time zone. The event programming will include

[2020-09-10 08:45] marcasmar94 commented on #301
Any updates on this ?

[2020-09-26 23:27] garypretty commented on #319
This has now been resolved in the latest Alexa adapter release

[2020-09-26 23:27] #319 closed

[2020-09-26 23:28] garypretty commented on #305
Speak property now respected on adaptive cards

[2020-09-26 23:28] #305 closed

[2020-09-30 02:35] aishwaryaumachandran opened #323 "Issue with integrating the Alexa Adapter"
Hello,

I'm trying to integrate the Alexa Adapter which was previously working. There has been an error and I not able to invoke the skill. The alexa sdk version that is being used is **4.3.53**

The error message on the console is below:

**System.NullReferenceException: Object reference not set to an instance of an object.
   at Bot.Builder.Community.Adapters.Alexa.Helpers.PemHelper.<>c.<ParseSu

[2020-09-30 05:48] madbeher opened #324 "Translation Samples needs to translate Hero Cards and multiple input choice action"
Hi,

Below sample is working for normal text messages

https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/17.multilingual-bot

But translation, where cards (hero and multiple input choice action) are not being translated.

Consider updating this sample to include an hero and multiple input choice action  translation.

Thanks...

[2020-09-30 22:12] ismendes commented on #324
Here's an example of what's happening:
![image](https://user-images.githubusercontent.com/56369624/94745263-36a41000-032f-11eb-9570-4307934002cc.png)
@madbeher, can you add more images of other points where the translation doesn't work? This is a big step for us in the Partner Bot, and the more help we can provide the Bot Framework community, faster they will be able to understand the problem and

[2020-10-08 00:13] gitguy007 opened #325 "How to create continuous conversation based on certain topic / context for Google adapter ?"
Hi, first of all ..  thanks for all the good work that has been put into this adapter. It is amazing 👍

I am trying to create a simple game that will be triggered by a keyword and there will be continuous messages as the Google Assistant will ask the user.

For example, user keys in "Knock knock" and the Google Asst will reply "Who is there" and so on ..

Every time the user replies, Google Asst w

[2020-10-08 00:17] arafattehsin commented on #325
Hi @gitguy007 Thank you for this. May I know if your conversation flow is sequential?

[2020-10-08 00:24] gitguy007 commented on #325
Hi thanks for your quick reply. Yes, it is sequential.

[2020-10-08 00:27] arafattehsin commented on #325
@gitguy007 Cool then! Have you explored the [Waterfall Dialog sample](https://github.com/Microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/05.multi-turn-prompt) from the Bot Builder Samples repo? If not then I think this should resolve your issue.

Please let me know if it does not fulfill your requirements.

[2020-10-08 00:31] gitguy007 commented on #325
Noted.

I thought that the botbuilder-dialogs is independent from the Google adapter class .. will give this a try to see if this can be supported within the Google dialog flow.

[2020-10-08 00:34] arafattehsin commented on #325
@gitguy007 If you're using DialogFlow just to send you what ever is coming from Google Assistant then I think this should be fine. I will also try to do the same myself if I get time this week and will let you know!

[2020-10-08 00:36] gitguy007 commented on #325
@arafattehsin,  i will do the same as well.

Thanks and have a great week :)

[2020-10-08 08:04] garypretty commented on #324
Hi. Thank you for the issue. The sample you are referring to is actually part of the Microsoft samples repo and not the Community project.  I would suggest you raise this issue within the official Bot Builder Samples repo at https://github.com/microsoft/BotBuilder-Samples where the engineers can look at your request.

[2020-10-08 08:04] #324 closed

[2020-10-08 08:11] garypretty commented on #323
Hi. The version of the adapter that you are using, due to the dependent SDK version, is very out of date and it has since been significantly refactored, including the removal of this code.  If you are looking to just have the adapter working in a development / test environment then you could consider setting ValidateIncomingAlexaRequests to false in the Alexa options, which should force the adapte

[2020-10-17 13:00] arafattehsin commented on #325
Hi @gitguy007 - I tried with the Waterfall and it worked like a charm. I'm closing this issue now. Please re-open if you think anything related to Google / Action Custom Adapter is not working.

[2020-10-17 13:00] #325 closed

[2020-10-18 02:14] gitguy007 commented on #325
@arafattehsin, thanks for letting me know. I will reach out to you if i have any questions :)

[2020-10-19 12:02] saurav2107 commented on #296
Any update on this, the code sample is not correct, unable to find any valid sample/reference.

[2020-10-19 12:04] rvinothrajendran commented on #296
@saurav2107 will update the sample code.

[2020-10-21 08:45] saurav2107 commented on #296
@rvinothrajendran do you have any working sample, I am really stuck in this issue and its kind of very urgent for us, I you can point me to any working sample it would be very helpful.
Thanks

[2020-10-21 09:52] rvinothrajendran commented on #296
@saurav2107 below the link you can find the sample not yet fully implemented but you can understand AdaptiveCardPrompt

https://github.com/rvinothrajendran/PythonBotTeamAppDevelopment/tree/master/DialogPromptSample

[2020-10-21 11:42] saurav2107 opened #330 "AdaptivCard submit action not working in waterfall dialog"
I am using Enterprise Bot Template for my bot.

When adding AdaptiveCard Dialog to present a input form to User having a submit button from within a waterfall dialog, which intern is called from MainDialog of enterprise bot after luis recognition, the flow is not returning to AdaptiveCard next step where I can read the result.

Below is my Adaptive Card Dialog code:
`
public RequestTrackerFormDial

[2020-10-21 18:01] mdrichardson commented on #330
Closing here as this is a duplicate of [this issue](https://github.com/microsoft/botbuilder-dotnet/issues/4831), which is where I'll debug/fix.

[2020-10-21 18:03] mdrichardson commented on #330
@garypretty Can you close this one here? Looks like I don't have permissions for it.

[2020-10-22 08:35] #330 closed

[2020-10-30 05:11] Silu321 opened #335 "Bot Framework v4 core bot using the Infobip WhatsApp adapter"
I implemented this code but, I don't get proper output can you provide the proper code and documentation and also provide me the proper output screen short.

[2020-10-30 10:52] pomarc opened #336 "twilio for whatsapp adapter"
hello.
Is there any roadmap to implement a .net adapter for twilio Whatsapp, as done for JS?(https://www.npmjs.com/package/@botbuildercommunity/adapter-twilio-whatsapp#advanced)
thanks.

[2020-10-30 11:31] Silu321 commented on #336
Connect **Azure Bot** With **what's App** through **infobip** recommended Language is **C#** .can you plz.......... help me

[2020-10-30 11:49] arafattehsin commented on #336
@Silu321 I am sorry but I had to remove your comment as you've already raised the issue.

[2020-11-04 01:10] sivaelango-r opened #337 "Does Alexa Adapter support multi turn converstation"
HI,

I am implementing a skill where alexa would need to converse multiple times to find what a user needs from using the skill.

For Eg:

User: ask test bot to plot histogram of brent
alexa: do you have a date range in mind
User: yes
alexa: give me the start and end date range
User: Jan 1st 2020 to Oct 1st 2020

Does alexa adapter support this multi turn conversation?

[2020-11-04 01:20] arafattehsin commented on #337
Hi @sivaelango-r - yes, the multi-turn conversation is supported through ShouldEndSessionByDefault property.

However, as per your above use-case, I'd recommend you to use the out of the box Alexa channel which comes with Azure Bot Service.

I hope it answers your question.

[2020-11-04 02:10] sivaelango-r commented on #337
Hi

Thanks for the response.
Yes the Azure bot currently uses the Alexa channel.

Does the Alexa adapter support
https://developer.amazon.com/en-US/docs/alexa/custom-skills/dialog-interface-reference.html

Just as it currently supports
https://developer.amazon.com/en-US/docs/alexa/custom-skills/display-interface-reference.html
using DisplayRenderTemplateDirective

[2020-11-04 06:20] SonOfJesseAsSnekithan opened #338 "Redirect URI is not handled when user installs the bot and select Authorize"
I don't see anywhere in the sample that handles the Authorize .
User installs the chatbot from Zoom AppMarket place | Local Test | Install, it displays with Authorize button, upon clicking authorize button, HttpGet call is made
api/zoom/auth?code={code}, but it is not handled.
is it a known issue?

[2020-11-04 22:30] SonOfJesseAsSnekithan commented on #338
If I implement a function for handling the HttpGet request in ZoomController, it works fine.

[2020-11-05 10:59] garypretty commented on #336
Currently we have no plans to implement a .NET version of this adapter.  Community contributions are of course welcome.  There is an adapter for InfoBip and a MessageBird adapter also in PR for WhatsApp.

[2020-11-05 10:59] #336 closed

[2020-11-05 11:00] garypretty commented on #338
@SonOfJesseAsSnekithan Could you drop the code for your controller change here? I can look to integrate it into the adapter.

[2020-11-05 11:03] garypretty commented on #335
@ivanursic-infobip can you help here?

[2020-11-05 11:08] garypretty commented on #323
Closing this as there has been no further update.

[2020-11-05 11:08] #323 closed

[2020-11-05 11:09] garypretty commented on #297
I don't think this is a priority for us now.  I think efforts for future dialogs related work should be placed into Adaptive / Custom Actions for Composer.

[2020-11-05 11:09] #297 closed

[2020-11-05 11:11] garypretty commented on #308
I think we should discuss this. I think we will want to have a section where we share Custom Actions for Composer, which this could form part of.

[2020-11-05 11:14] garypretty commented on #337
No we don't currently have support for that within the adapter.  For any functionality like that we would usually recommend using native Bot Framework capabilities on the Alexa channel.

Regarding the multi turn conversation, as well as setting ShouldEndSessionByDefault, you can also use the InputHint property on the outgoing activity. Setting this to IgnoringInput means no further input, setting

[2020-11-06 15:38] dosindi commented on #335
@ivanursic-infobip is there any sample on how Infobip WhatsApp Adapter can be used?

[2020-11-06 22:14] SonOfJesseAsSnekithan commented on #338
[HttpGet]
        [HttpHead]
        public IActionResult Get([FromQuery] string Code)
        {
            Response.Redirect("https://zoom.us/launch/chat?jid=robot_" + zoom_bot_jid);
            return new OkObjectResult(200);
        }

[2020-11-06 22:19] SonOfJesseAsSnekithan opened #339 "Zoom adapter: OAuthPrompt.Recognize(): not supported by the current zoom adapter"
I am trying to use the existing bot code with Zoom adapter, where OAuthPrompt::BeginDialogAsync  throws exception saying OAuthPrompt.Recognize() not supported by the current adapter.
 Is OAuthPrompt dialog is not supported in Zoom adapter?
Any feedback is appreciated.

[2020-11-10 12:43] arafattehsin commented on #337
Thanks @garypretty.

Closing this now. @sivaelango-r, please re-open in case your issue does not get resolved by setting ShouldEndSessionByDefault as explained above.

[2020-11-10 12:43] #337 closed

[2020-11-10 19:45] SonOfJesseAsSnekithan opened #340 "Waterfall dialog is not supported in Zoom Adapter"
My bot implements waterfall dialog where maindialog launches the waterfall dialog, it executes first step and when user replies, it suppose to go to next step in the waterfall dialog, it does not. It seems to be Dialog stack is not correctly managed.
User: Hi
MainDialog :
   - SampleOnboardingDialog : What is your name?
  User: David
 MainDialog: Replies
Expected result is that message should be r

[2020-11-10 23:25] arafattehsin commented on #340
Hi @SonOfJesseAsSnekithan - Please have a look at this [sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/05.multi-turn-prompt) for your information. Since this issue is not related specifically to the Zoom adapter therefore I am closing it. Please re-open if you encounter any issue (or unexpected) behavior for the adapter.

[2020-11-10 23:25] #340 closed

[2020-11-12 15:10] ahmetkocadogan commented on #336
@pomarc MessageBird WhatsApp adapter is released now.
https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.MessageBird

NuGet : https://www.nuget.org/packages/Bot.Builder.Community.Adapters.MessageBird/

I also have a sample project in PR now, https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/pull/333

I can help

[2020-11-13 07:16] SonOfJesseAsSnekithan commented on #340
I am sorry, I don't get it, same code works fine for Teams and Slack channel, but only Zoom I see this behavior.

[2020-11-17 08:03] ahmetkocadogan opened #343 "MessageBird WhatsApp Adapter Nuget descriptions are missing"
Description of Bot.Builder.Community.Adapters.MessageBird nuget package is missing. We should update that.

Is there a way for me to update ?

![image](https://user-images.githubusercontent.com/7287309/99362298-5d5cdc80-28c4-11eb-8160-4e97a553325a.png)

[2020-11-28 07:12] rvinothrajendran commented on #308
@garypretty Yes , I can able to wrap into Custom Action ( Sorry for late reply busy with project work)

**Input form**

![image](https://user-images.githubusercontent.com/16264167/100496043-22bf3380-3151-11eb-996e-6225005acf0e.png)

**test in emulator**
![image](https://user-images.githubusercontent.com/16264167/100496051-336fa980-3151-11eb-9bfe-0a6f21281b1c.png)

[2020-12-06 12:06] garypretty commented on #343
@ahmetkocadogan yes, you can set within the csproj file - take a look at the Alexa / Google adapters

[2020-12-06 12:07] garypretty commented on #339
No, this dialog is not supported within the adapter. The prompt is designed to work with Azure Bot Service and since this is an adapter, it won't work currently.

[2020-12-06 12:07] #339 closed

[2020-12-06 12:08] garypretty commented on #335
The adapter has now been split into 3 separate adapters for InfoBip. A new sample will be uploaded imminently. Once available please take a look at the new WhatsApp sample.

[2020-12-06 12:08] garypretty commented on #338
@SonOfJesseAsSnekithan Thanks.  Will hopefully get a chance to get this in over the next week or so.

[2020-12-06 12:09] #343 closed

[2020-12-06 12:09] #295 closed

[2020-12-10 06:12] SonOfJesseAsSnekithan commented on #339
What is the work around solution here?, I need to get an access token for the user, so that bot can perform on behalf of the user.

[2020-12-21 04:39] Aavi2105 opened #352 "Unable to find Nuget Package "Bot.Builder.Community.Cards""
Hi @v-kydela  :- I have a requirement to disable adaptive card button and was referring this readme  "https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/feature/cards/libraries/Bot.Builder.Community.Cards/README.md" to try out steps in my code. I am unable to find this Nuget package "Bot.Builder.Community.Cards" while trying installing in VS 2019. Can you please suggest how to

[2020-12-21 18:45] v-kydela commented on #352
@Aavi2105 - Thank you for your interest in the cards library, and sorry you're having trouble with it! In the meantime, you can rely on the source code from GitHub directly. In order to run the sample, it will need to be connected to the local cards library project instead of NuGet.

@garypretty - Please look into why the cards library is not in NuGet

[2020-12-22 03:35] Aavi2105 commented on #352
Hi @v-kydela :- I don't see project file while going to library folder using add project reference from sample solution. Please suggest if I am missing something over here.

![image](https://user-images.githubusercontent.com/68352642/102845137-7d575280-43d2-11eb-8034-46ff0c4e800e.png)

![image](https://user-images.githubusercontent.com/68352642/102844941-176acb00-43d2-11eb-9127-c76e77964c0c.png)

[2020-12-22 17:46] v-kydela commented on #352
The project file is right here: https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Cards/Bot.Builder.Community.Cards.csproj

If you are missing files, then it might be a good idea to clone the repo again

[2020-12-22 21:13] Aavi2105 commented on #352
Hi @v-kydela - I am able to see project file when I go to the card library project folder directly, but unable to see the same when try adding via project reference mentioned in previous post. This time I tried another way of doing it, just added bot.builder.commnity.cards project directly inside the main sample solution (Bot.Builder.Community.Samples) and then tried adding the library card projec

[2020-12-23 01:04] v-kydela commented on #352
Oh I think I see now. You need to build the cards library first, and then add Bot.Builder.Community.Cards.dll as the reference, not the .csproj file.

[2020-12-24 17:01] Aavi2105 commented on #352
Thanks @v-kydela , Yes it built now successfully. Question, I am able to run this sample solution locally using emulator after adding card library dll reference, but don't see buttons or card to be disabled/deleted in emulator chat window , does it work for for emulator ?

[2020-12-24 17:47] v-kydela commented on #352
Yes, the sample works in Emulator

[2020-12-25 07:57] rvinothrajendran commented on #308
@garypretty
stuck up with two areas
1.Not yet started the unit testing, so far, no documents are available to write the unit testing for adaptive dialog (is in preview)
2.Deployment of schemas file
Can you share your idea on this?

[2020-12-27 03:49] sempjc opened #354 "Natural Conversation templates"
I would like to propose a project about a collection of *Natural Conversation Dialogs*. This idea is inspired on the works of Robert J. Moore and Raphael Arar from his book *Conversational UX Design: A Practitioner's Guide to the Natural Conversation Framework (AMC Books)*. Currently I applied a similar idea on my projects and I see the benefit of having dialogs ready to use.

For example I have a

[2021-01-12 02:35] Aavi2105 commented on #352
HI @v-kydela :- I tried debugging above code and understand that card button is disabled after I get the result "Thank you for choosing {label}!" , but in a moment if user click same button twice or multiple button before response of first button appears then this throws same result twice how we can handle this scenario?

[2021-01-12 17:37] Aavi2105 commented on #352
Hi @v-kydela :- Since I am using  Dynamics 365 Omni channel Customer Chat to render adaptive cards from bot and I checked that Omnichannel chat treats this as msteams channel, hence I referred another of your blog (https://github.com/microsoft/botframework-sdk/issues/5472) where you suggested to use update activity event to replace old card with new card for a given conversation and for that I add

[2021-01-12 19:26] v-kydela commented on #352
@Aavi2105 - I'm sorry, the cards library wasn't designed for D365 and I've never used it so I can't really say much on that topic. The cards library is meant to work on any channel so D365 should work but I don't know if it supports message updates or not.

[2021-01-12 19:51] Aavi2105 commented on #352
Thanks @v-kydela for your response. Do you suggest to check with D365 Omni channel team for the same if above code (update activity) snippet written in bot solution looks okay ?

[2021-01-12 21:16] v-kydela commented on #352
@Aavi2105 - No, I suggest experimenting with the Bot Framework REST API to see if you can update activities in D365. If it truly uses the Teams channel then you should be able to.

[2021-01-13 02:34] Aavi2105 commented on #352
Hi @v-kydela  - After printing exception msg into Omni channel chat widget I found that below exception is thrown by bot when it tries to update / delete existing activity. Any clue/help on this ?

Operation returned an invalid status code 'NotImplemented'

[2021-01-13 21:06] Aavi2105 commented on #352
Hi @v-kydela :- I tried using bot framework delete rest api to check if delete works for existing activity id for the same live conversation. What I tried here , after getting first adaptive card message activity in Omni channel chat session , I put the session conversation id and adaptive card activity id into delete rest api and hit it from postman client and get below response 202, but I was st

[2021-01-14 18:23] v-kydela commented on #352
@Aavi2105 - If you used the correct service URL and conversation ID and activity ID and bearer token then I can't think of anything you might have missed. It's possible that the Skype server processed the delete request successfully but the client just isn't designed to delete messages. Please keep in mind that I don't know what Omnichannel is so I'm not the right person to ask about that. I suppo

[2021-01-14 19:46] Aavi2105 commented on #352
Thanks @v-kydela  for your response, I was just checking if the api was correctly called and if you see any missing thing over there.
Also, one more ask which I mentioned in previous questions, do you know what could be cause of getting below error message which I get when using updateactivity method from skill bot code. I am not getting much information online to find the exact root cause of this

[2021-01-14 21:23] v-kydela commented on #352
@Aavi2105 - When a class implements an interface but doesn't provide an implementation for some of that interface's functions, it's common to throw a not-implemented exception as a sort of default implementation

[2021-01-15 20:55] EricDahlvang commented on #352
Hi @Aavi2105

Which version of the sdk is the bot using?   Update and Delete from a skill were introduced with the 4.11 release (from this PR: https://github.com/microsoft/botbuilder-dotnet/pull/4786 )

[2021-01-18 16:10] cesarcas1994 opened #358 "Bot Framework v4 core bot using the Infobip WhatsApp adapter doesn't allow you to enter templates buttons messages responses"
Hi, I hope someone can help me, @ivanursic-infobip and @garypretty.

I have the following situation, we are working with the azure Bot Framework v4 and the InfoBipAdapter and we want to be able to receive when a user taps a button on a template on whatsapp, but we realize that this functionality has not yet been implemented in the InfoBipAdapter so it causes these messages not to be read.

The sch

[2021-01-20 01:05] Aavi2105 commented on #352
Hi @EricDahlvang - Thanks for checking this, Yes I ensured that skill bot is referring latest nuget package with sdk version  4.11.1.

Thanks
Aavi

[2021-01-26 01:48] AndyfromPBG opened #359 "Help requests via the Alexa channel closing conversation"
Any type of help/I need help requests via the Alexa channel causes my bot to return a command to close the conversation rather than triggering the interruption methods of my bot. For example, this request:
[code]
Results in this response:
[code]

I'm hitting my Bot's on turn async method, and then it's going straight to end conversation without even loading my dialog. I'd love to give more info if

[2021-01-27 06:41] Silu321 opened #360 "Pro Active Notification V4 Bot"
I am trying to implement an MS-TEAM_BOT that is capable of sending a Pro-Active Notification to a particular MS-TEAM Person

Ex: Database contains ( Student Name, Roll Number (primary key), Fee Payment status)
if fee payment status is pending then the student gets a pro-active notification from the bot.

can you provide the documentation and code?

[2021-01-27 07:58] rvinothrajendran commented on #360
Ref here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages?tabs=dotnet

[2021-01-27 08:05] #360 closed

[2021-02-02 09:45] Silu321 opened #361 "How to send private message in Microsoft Teams using bot on behalf of user in Teams?"
-> one SQL database is present
-> that database contains 4 number of Student data
i.e
StudentName = "Ghansyam Gouda",mail="ghansyam.gouda@E", Age = 13, Date =2021/2/1, Flag ="No"
StudentName = "Sumit Vishwakarma",mail="sumeet.vishwakarma@",  Age = 21, Date =2021/2/2, Flag ="No"
StudentName = "Divyakanta Acharya",mail="dibyakanta.acharya@",  Age = 18, Date =2021/2/3, Flag ="Yes"
StudentName = "Prat

[2021-02-02 10:31] ahmetkocadogan commented on #361
Can you please clarify

Bot can send proactive messages, but bot can not send messages on behalf of users.

[2021-02-02 10:47] Silu321 commented on #360
this is v3 bot documentation but, I need v4 bot documentation and also can u please read my requirement in my previous issue

[2021-02-02 10:53] Silu321 commented on #361
ok , proactive messages can you provide the code or documentation
 but pls read my requirement

[2021-02-02 10:55] stephanbisser commented on #360
@Silu321 there is a v4 sample mentioned here: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/16.proactive-messages

Is this sample fulfilling your requirements?

[2021-02-02 10:56] stephanbisser commented on #361
As per your other issue (https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/360) the link to the proactive messaging sample is here: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/16.proactive-messages

[2021-02-02 11:12] rvinothrajendran commented on #360
@Silu321 I have shared the documentation based on 4.6 "The code samples in this section are based on 4.6"

[2021-02-02 12:29] Silu321 commented on #361
I don't need this documentation I need an ms-team proactive bot.

-> one SQL database is present
-> that database contains 4 number of Student data
i.e
StudentName = "Ghansyam Gouda",mail="ghansyam.gouda@E", Age = 13, Date =2021/2/1, Flag ="No"
StudentName = "Sumit Vishwakarma",mail="sumeet.vishwakarma@", Age = 21, Date =2021/2/2, Flag ="No"
StudentName = "Divyakanta Acharya",mail="dibyakanta.acha

[2021-02-02 12:32] Silu321 commented on #360
@rvinothrajendran

my requirement is given below so can you please read it then guide me

-> one SQL database is present
-> that database contains 4 number of Students data
i.e
StudentName = "Ghansyam Gouda",mail="ghansyam.gouda@E", Age = 13, Date =2021/2/1, Flag ="No"
StudentName = "Sumit Vishwakarma",mail="sumeet.vishwakarma@", Age = 21, Date =2021/2/2, Flag ="No"
StudentName = "Divyakanta Achar

[2021-02-02 13:32] ahmetkocadogan commented on #361
@Silu321 documentation guides you to build your proactive bot.

If you want someone else to build and give you the bot with your requirements, that is not how these issues work in github and also that is ethically wrong.

[2021-02-03 01:08] arafattehsin commented on #361
Closing this issue as it is not relevant for this community repo.

[2021-02-03 01:08] #361 closed

[2021-02-03 01:10] arafattehsin commented on #359
Hi @AndyfromPBG - Thanks for the question. Are you using one Alexa's adapters? If I understood your question correctly, you do not want Alexa to close the session. Is it the case?

[2021-02-03 01:29] AndyfromPBG commented on #359
Thank you so much for the response! I'm currently using the Alexa channel on the Azure Bot service hosting configuration, but I'm happy to just use the Alexa adapter if it works. My bot is sending a close channel request to Alexa; I'm hoping that instead my bot will see it as an interrupt request and I can then handle it as I do help requests from other channels.

[2021-02-03 08:08] Silu321 opened #362 "Bot V4 Proactive message Notification"
I have created a bot that sends messages to MS- teams user i.e ME which also called 1:1 message...**But I need some guidance to know that how the bot can send messages to other MS- team member or my colleague.** so far I have searched many documents I landed to the same sample of pro-active Notification.

[2021-02-03 09:56] Silu321 commented on #335
can you share the proper documentation and code?

[2021-02-03 11:02] rvinothrajendran commented on #335
@Silu321 at the moment you can find the document and samples here:
https://github.com/ivanursic-infobip/botbuilder-community-dotnet
https://github.com/ivanursic-infobip/botbuilder-community-dotnet/tree/develop/samples

[2021-02-03 11:26] Silu321 commented on #335
how to find the below two item can you sujest me

  "InfobipAppSecret": "",
  "InfobipWhatsAppScenarioKey": ""

[2021-02-03 12:30] rvinothrajendran commented on #335
check the Prerequisites: https://github.com/ivanursic-infobip/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.Infobip.WhatsApp

[2021-02-03 20:57] fercom opened #363 "Twitter adapter stops answering after publishing"
It works just fine with ngrok but after I publish and change the WebhookUri it doesn't answer anymore. Any clues?

[2021-02-04 00:09] fercom commented on #363
It looks like when you have already connected to a WebhookUri from a twitter dev environment the account can't be configured with another dev envirnoment using the same WebhookUri. I will let this here for someone else who may face the same issue.

[2021-02-04 00:09] #363 closed

[2021-02-06 00:54] v-kydela commented on #137
I decided to remove the "preserve values" functionality since that was only intended for Teams and it seems that Teams now does this automatically. The functionality would be useless now, though I've seen one person want to reverse the functionality by going back to the old behavior, so the library may have a "reset values" feature at some point.

[2021-02-08 00:57] AndyfromPBG commented on #359
Update- I tried using the Alexa adapter from this project (sorry, not sure why I posted on here before that) and I see the same problem, so at least it's relevant to this channel now.

I doubt it's the correct way, but I noticed that the help request from Alexa wasn't getting though with any info, so I check to see if Alexa's sending a help request in the OnTurnAsync method of my DialogBot

[2021-02-15 15:04] hemkay opened #364 "Proactive Message using the Twitter Adapter"
Hi,
I make use of the twitter adapter and it's working fine with my use case. However, I want to be add the proactive feature to it which keeps giving me Internal Server error whenever it reaches the twitter channel, then I discover the serviceurl from all twitter conversationReference is null. Is there a way I can send proactive message via this twitter adapter or I will need to look at other opt

[2021-02-17 02:21] Stevenic commented on #362
@Silu321  here's C# code that I use to send DM's in teams. Look at the `WhisperActivityAsync` method:

[code]

[2021-02-17 10:20] garypretty commented on #364
@hemkay Thanks for raising the issue.  I will try and take a look at this, but it may be a little time before I get chance.  @arafattehsin are you able to take a look at this and help a little?  I suspect the issue here could be that the Twitter adapter needs some updates to how the conversation reference is set on the way in?

[2021-02-17 10:28] garypretty commented on #359
@AndyfromPBG the Alexa Channel in ABS actually uses this adapter under the hood, which is why you are probably seeing the same experience.

The Alexa adapter converts some of the built in Amazon Intents to event activities  https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/d7d91e255ff13886825973b601a711a25550d0cf/libraries/Bot.Builder.Community.Adapters.Alexa.Core/AlexaReques

[2021-02-17 10:29] garypretty commented on #358
@ivanursic-infobip @NickEricson can you jump in here please?

[2021-02-17 10:31] garypretty commented on #354
Thank you @sempjc for the suggestion. Please see this link for some details of something the core team at Microsoft are working towards right now which I think aligns with your suggestions https://github.com/microsoft/botframework-components/

[2021-02-17 10:31] #354 closed

[2021-02-17 10:35] garypretty commented on #308
@rvinothrajendran I think we should hold here for a couple of weeks.  We are landing on the list of packages for Composer that will be made available from the core team and then we will know where the gaps will be.  I then suggest we deliver the above as Composer packages.

[2021-02-17 10:36] garypretty commented on #163
@arafattehsin I am going to close this issue.  Over the coming weeks / months the plan is to ensure focus is on Composer scenarios.  We may even decide to archive some of the community samples / packages, but no clear plan yet. I'll reach out offline with more details and to sync on thoughts.

[2021-02-17 10:36] #163 closed

[2021-02-17 12:53] rvinothrajendran commented on #308
started rest of prompts to input

[2021-02-17 12:57] garypretty commented on #352
Sorry for the delay in jumping in here - I have resolved an issue with the build pipeline and the package is now available on NuGet at https://www.nuget.org/packages/Bot.Builder.Community.Cards/

[2021-02-17 12:57] #352 closed

[2021-02-17 16:50] sempjc commented on #354
Thanks @garypretty for your guidance. I will check the link.

[2021-02-18 18:17] SonOfJesseAsSnekithan commented on #339
Yes, I agree, currently OAuthPrompt dialog checks whether adapter implements IExtendedUserTokenProvider interface, currently it is not, so it return error. I would like to provide some work around solution such as having a SignInCard and clicking sign-in button could launch the OAuth flow.  OAuthPrompt dialog implements automatic sign-in flow and 'magic-code' flow,  which falls into what kind of t

[2021-02-21 00:23] #359 closed

[2021-02-22 14:32] hemkay commented on #364
@garypretty, thanks. I will ne expecting an update when you can take  a look, I hope @arafattehsin  can take a look before then. Thanks to you both

[2021-02-23 11:02] arafattehsin commented on #364
Hi @hemkay - thanks for reporting this. I will try my best to look into this. Meanwhile, can you please tell me if the proactive messages are working for your other channels?

[2021-02-23 16:24] hemkay commented on #364
Hi @arafattehsin.... Yes I tested it with telegram and MS Teams and they both work fine. Thank you

[2021-02-25 15:52] aishwaryaumachandran opened #366 "Intent clashes with the Google Adapter"
We have a skill that has skills related to Email/Calendar (Both Office 365)

Any questions related to this domain exits the action and defaults it to Google Email / the Calendar. The sample utterances are given below:
- Check my calendar
- Check my emails

This solution was working about a week back. Have anyone faced this issue before and have a potential solution?

[2021-03-01 07:59] adrwer commented on #335
The link above doesn't really provide

Infobip WhatsApp Sample looks good. However, appsettings.json contains empty parameter values, with no explanation on how to get the AppSecret and ScenarioKey

[2021-03-01 07:59] adrwer commented on #335
Infobip WhatsApp Sample looks good. However, appsettings.json contains empty parameter values, with no explanation on how to get the AppSecret and ScenarioKey

[2021-03-01 08:19] adrwer commented on #335
You can generate the ScenarioKey from this endpoint https://www.infobip.com/docs/api#channels/omni-failover/create-new-omni-failover-scenario.

I don't know how to get the AppSecret yet

[2021-03-08 21:08] SuperJMN commented on #296
I'm interested in a valid code sample to use an Adaptive Card Prompt.

[2021-03-09 12:33] arafattehsin commented on #362
Thanks a lot @Stevenic for the input. Closing this issue now. Please re-open in case of any issue.

[2021-03-09 12:33] #362 closed

[2021-03-09 12:37] arafattehsin commented on #366
That's strange. In your DialogFlow, do you have anything set-up out of the box such as Google Email / Calendar?

[2021-03-09 13:18] aishwaryaumachandran commented on #366
Thank you for the turnaround Arafat. There is nothing setup on dialog flow in the intents apart from a Welcome and Fallback.

Further testing the solution, there were a lot of other conflicts with other skills too such as the News, Recipes, etc not limiting to office 365. Anything that is a general "googled" question, exits the action and Google Assistant gives me the result.

[2021-03-17 19:51] mrivera-ms commented on #279
@garypretty, after an offline conversation with Eric, the recommendation is to close this item. Can you comment?

[2021-03-25 18:42] rvinothrajendran commented on #308
@garypretty  I sent mail to you. Kindly share your feedback.

CustomInput

![image](https://user-images.githubusercontent.com/16264167/112525692-6cd3c100-8da1-11eb-8328-9f5afa9d9fd6.png)

SocialMediaType Input

![image](https://user-images.githubusercontent.com/16264167/112525275-0353b280-8da1-11eb-90b8-56ecd6a1a89e.png)

PhoneNumber Input

![image](https://user-images.githubusercontent.com/162641

[2021-03-29 17:12] YeisonsUarez opened #378 "How to use the adapter to connect bot with Whatsapp messagebird?"
Hi, I already have the MessageBird adapter implemented in the Bot code, the keys: "MessageBirdAccessKey", "MessageBirdSigningKey" and the Bot is published in azure. But the messagebird WhatsApp channel still does not connect to the Bot. What can I do?

[2021-03-30 07:44] ahmetkocadogan commented on #378
Hello @YeisonsUarez.

I implemented this adapter, i'll try to help you on this.

Are you using WhatsApp sandbox? Did you get the correct AccessKey and SigningKey from MessageBird dashboard ?

[2021-03-30 12:27] YeisonsUarez commented on #378
Hi, the AccessKey and SigningKey I got them using the links given in the adapter tutorial, WhatsApp sandbox shows me connected in my personal WhatsApp, but still the Bot does not connect. what am I missing? Thanks for your help.

[2021-03-30 12:31] ahmetkocadogan commented on #378
Hello @YeisonsUarez

Probably you didn't set up the webhook url.

![image](https://user-images.githubusercontent.com/7287309/112988837-f18d5900-916c-11eb-8dda-6871ba328535.png)

[2021-03-30 12:32] YeisonsUarez commented on #378
oh, I see, in webhook url, which url should I add?

[2021-03-30 12:35] YeisonsUarez commented on #378
oh ok, I didn't see that step, thanks, I'll try it.

[2021-03-30 12:38] YeisonsUarez commented on #378
In that case it would only work in WhatsApp sandbox ? how can I make it work in WhatsApp channel ? thank you very much for your help.

[2021-03-30 12:58] ahmetkocadogan commented on #378
+ and also this parameter should be false if you are not using sandbox
"MessageBirdUseWhatsAppSandbox": true

[2021-03-30 13:00] YeisonsUarez commented on #378
I understand, I will apply it, thank you very much for helping me.

[2021-03-30 13:01] ahmetkocadogan commented on #378
Your welcome. You can close the issue if you feel your question is answered.

[2021-03-30 13:02] YeisonsUarez commented on #378
One last question, in the WhatsApp channel where do I add the Bot URL?

[2021-03-30 13:05] ahmetkocadogan commented on #378
https://developers.messagebird.com/quickstarts/conversations/handle-inbound-messages-curl/

On this page, there is a section "Programmatically configure webhooks via the API"

You will make a post request to conversations endpoint of MessageBird, with your endpoint url that you created for MessageBird WhatsApp Adapter.

[code]

[2021-03-30 13:09] ahmetkocadogan commented on #378
And for more information for you, this adapter is not an official adapter from MessageBird.

I am maintaining it. There is a newer version of their NuGet package, but it has an issue with sandbox, only works for production at the moment. I am waiting their fix, and will update this adapter as soon as they fix it.

Feel free to ask anything about this adapter. Also check out sample bot in samples d

[2021-04-09 17:26] YeisonsUarez commented on #378
Hi, I have made the changes with the correct credentials and url but still I can't connect the Bot with messagebird, the user messages appear in inbox but nothing is returned.  :( do you think I missed something? Thanks for your help. I am trying to connect with whatsapp.

[2021-04-10 05:11] YeisonsUarez commented on #335
Hi, do you know how can I get the AppSecret ? and how to add the endpoint https://.....yoururl.../api/infobip/whatsapp to azure ?
I am not sure how the endpoint works, is it necessary to add it to the app service or just change api/messages to /api/infobip/whatsapp?
Thank you very much for your help

[2021-04-10 19:33] C0d1ngJammer opened #380 "Alexa Display Interfaces are obsolete - Support for APL (Alexa Presentation Language) planed?"
Hello,
It seems to be that the "Display Interfaces will be retired soon" for all amazon alexa skills:
![image](https://user-images.githubusercontent.com/10685463/114281513-115f2f80-9a3f-11eb-98d7-32308bcf1603.png)
I cannot even activate the option anymore (even with a newly created skill):
![image](https://user-images.githubusercontent.com/10685463/114281663-efb27800-9a3f-11eb-8e3f-f59d87d7193a.pn

[2021-04-10 22:34] C0d1ngJammer commented on #380
Hello,
It just seems to work, because it is indeed supported by the 'Alexa.Net'-Api:

[code]

Yet, i need to find out, how to only send data.

=> I'll remain this ticket open, so you will see the upcoming change from "DisplayInterface" to "APL". This Ticket than can be closed.

Thanks
-C0d1ngJammer

[2021-04-11 12:31] C0d1ngJammer commented on #380
Its me again:
So i managed to understand the Alexa.NET.APL-Api enought to create a working example.
With that I have my already made up "Design" in the APL-Designer Authoring from Amazon in this example named "HelloWorld".
Now I just want to pupulate it with any data, according to my template.

I do this with the code below:

            APLSupport.Add();
            RenderDocumentDirective.AddSup

[2021-04-12 06:41] ahmetkocadogan commented on #378
hello @YeisonsUarez .

I want to kindly ask you to try sample project first. Sample project will work with correct credentials and set up. You can use sandbox to test. Just let me know what the result is with that test. Than we'll start digging what is your issue.

Sounds nice?

[2021-04-12 12:52] C0d1ngJammer commented on #380
Found the solution for the "json"-Solution. If someone needs some point to start:

            //Class which represents the datasource
            var dataSource = new RootData()
            {
                itemList = new BodyData()
                {
                    headerData = new headerData()
                    {
                        theme = "light",
                        logoImage

[2021-04-12 13:37] YeisonsUarez commented on #378
Ok, I will try it, thank you very much

[2021-04-13 10:42] garypretty commented on #380
@C0d1ngJammer thank you for all of this information. Really super helpful. I am going to take a look as soon as I get a chance and see if there are any obvious areas we can extend the new Alexa Composer package to add actions to support the use of APL. Thanks again!

[2021-04-14 08:43] ahmetkocadogan commented on #378
@YeisonsUarez Hello. Any luck with sample project ?

[2021-04-20 08:33] garypretty commented on #378
Thanks for your help here @ahmetkocadogan - really appreciate you helping @YeisonsUarez through these issues!

Closing this for now - @YeisonsUarez please re-open if you need further assistance.

[2021-04-20 08:33] #378 closed

[2021-04-20 08:34] garypretty commented on #366
@aishwaryaumachandran There is now a dedicated adapter for Actions Builder here https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.ActionsSDK, so you may need to replace the adapter used by your bot.

Closing this for now, but please let us know how this works for you.

[2021-04-20 08:34] #366 closed

[2021-04-20 08:34] garypretty commented on #358
Closing due to inactivity.

[2021-04-20 08:34] #358 closed

[2021-04-20 08:35] garypretty commented on #308
Closing as inputs now merged - thanks @rvinothrajendran!

[2021-04-20 08:35] #308 closed

[2021-04-20 08:35] garypretty commented on #279
Closing.

[2021-04-20 08:35] #279 closed

[2021-04-20 10:05] rvinothrajendran commented on #308
Thanks   @garypretty , I will add missing input types later next week.

[2021-04-27 18:43] C0d1ngJammer opened #385 "Google Actions SDK (latest) Adapter - Building Dialogflow is canceled."
Hello,

after I successfully implemented the Alexa-Adapter, I want to add the Google Adapter.

There are currently two Adapters in this Repository:
1. [Google Actions SDK (latest) Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Adapters.ActionsSDK)

2.  [Google DialogFlow and legacy Actions SDK Adapter](https://github.com/Bot

[2021-04-27 19:24] C0d1ngJammer commented on #385
The more I test the worse it gets. Right now the Google-Action cannot handle  words outside the context of the Action like "yes", "no", "weather".  Even when Iam the Google Action at that same moment (session is open). Not sure why. For testing Iam using the Android "Google Assistant"-App.

[2021-04-27 20:00] C0d1ngJammer commented on #385
Main problem solved:
Seems like some words are just handled by default and being "byepass" by the action. For the words "yes" and "no" are system-Intents available:
![image](https://user-images.githubusercontent.com/10685463/116303373-358e7080-a7a2-11eb-9110-924241ef8380.png)

=> But they only work for the supported languages. Currenlty only "English".
To make it work with my action, witch only su

[2021-04-28 18:06] clearab opened #386 "Add tag to LivePerson package"
In order for Package Manager to consume a package that doesn't have a schema files, the package must be tagged with one of the following:

`msbot-action` || `msbot-trigger` || `msbot-adapter` || `msbot-function` || `msbot-recognizer` || `msbot-storage` || `msbot-middleware`

For this package, I believe `msbot-middleware` makes the most sense.

[2021-04-30 10:31] garypretty commented on #386
New release pushed to NuGet which has the msbot-middleware tag.

[2021-04-30 10:31] #386 closed

[2021-04-30 10:33] garypretty commented on #385
@C0d1ngJammer Thanks for the above - I'll try and find some time to repro and update docs as needed. Cheers!

[2021-05-10 17:41] arafattehsin opened #390 "Convert SentimentAnalysisMiddleware to the package"
Hi @garypretty - assigning it myself for this one.

The idea is to convert these middleware(s) to the package one by one and then we can work on the samples / docs for these.

[2021-05-11 08:17] garypretty commented on #390
Hey Arafat.

A good place for you to look is the LivePerson component.  Here you can see that you register the middleware in your component by registering as a singleton and then it will be automatically picked up and added to the pipeline. https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/8ee1370c551304f7f16e008cea1daab001973a44/libraries/Bot.Builder.Community.Components.Han

[2021-05-11 08:17] garypretty commented on #390
I am merging the components to the develop branch in the next couple of hours, so you might want to wait until then to create your branch.

[2021-05-11 10:12] arafattehsin commented on #390
Thanks @garypretty for the detailed explanation. Yes, it does make sense and I will aim for this one! 👍

[2021-05-13 18:44] lauren-mills opened #396 "Installing TokenExchangeHandler in Composer doesn't work"
When I install the tokenExchangeHandler package for SSO, it doesn't completely install. The package is added to my csproj, but not to the project appsettings in the "components" array and it doesn't show as installed in the Composer Package Manager

[2021-05-17 17:41] rvinothrajendran opened #401 "Convert TextRecognizer to the package"
Convert TextRecognizer to the package.

[2021-05-19 00:26] srinaath opened #403 "Bot.Builder.Community.Components.Storage usage"
On the latest Composer nightly (not that it matters), added the Storage Component through the package manager nuget feed. My bot is configured to use Cosmos DB. I tried reading a stored item and writing an item. Both the actions fail with the following error

<img width="1308" alt="Screen Shot 2021-05-18 at 5 21 00 PM" src="https://user-images.githubusercontent.com/13004779/118739328-106bab80-b7fe

[2021-05-19 00:26] srinaath commented on #403
@garypretty @Stevenic

[2021-05-20 13:29] rvinothrajendran opened #405 "Convert SpellCheckMiddleware to the package"

[2021-06-04 07:48] rvinothrajendran opened #406 "Alexa Adapter component "There was a problem with the requested skill's response""
First time Alexa is not able to communicate to the bot (created via Bot composer) , Error message in Alexa : “There was a problem with the requested skill's response”

After rebuilding and run the project from Visual studio, Alexa can be able to connect the Bot.

[2021-06-14 17:52] rvinothrajendran opened #411 "Bing Spell check "Access external resources" component"
Hi @garypretty

Any feedback on this component ?

Created Bing Spell check "Access external resources" component

1. Adding the component

![image](https://user-images.githubusercontent.com/16264167/121936306-c7017400-cd49-11eb-92d2-24dc12f6af4b.png)

2. Configure the component

![image](https://user-images.githubusercontent.com/16264167/121936388-db457100-cd49-11eb-883e-92d825d6e64a.png)

#410

[2021-06-18 15:49] Deepti886 opened #412 "UI Changes for Hero card Carousel"
Hi All,

**Please find the attached hero card Carousel screenshots in MS teams**. Can someone please help me out with the solution on how can I get this rendered. I'm expecting to get the title in the center and "short Descriptions/Title" should be bold and "descriptions" should not be bold on receiving these values from ServiceNow VA Api but this is not rendering as expected.

**Please find the J

[2021-06-18 15:51] Deepti886 opened #413 "File picker not working to upload file to SN VirtualAgent Api"
Hi All,

Can someone please help me out to render a file picker response type control to upload/submit a file to ServiceNow VA but facing issues with rendering the file picker in Teams that can be supported by SN VA API. Please find the attached screenshots of how it renders in SN VA and MS teams

![image](https://user-images.githubusercontent.com/58975341/122578346-689e0380-d071-11eb-9230-4667024

[2021-06-18 15:51] Deepti886 opened #414 "Skip button control not rendered in feedback"
Hi All,

**Please find the attached screenshot of skip button from SN VA**. We get a skip button shown in SN VA while giving feedback Can someone provide me a solution for how can I get it rendered in MS teams.

![image](https://user-images.githubusercontent.com/58975341/122579636-ba935900-d072-11eb-8b0a-5cdbd785d064.png)

![image](https://user-images.githubusercontent.com/58975341/122586419-48bf0

[2021-06-18 15:55] Deepti886 opened #415 "Dynamic binding of Boolean response type values into buttons."
Hi All,

As we are currently hardcoding the button values "Yes/No" for boolean response type. Can someone provide me a solution on how to get the boolean values "Yes/No" dynamically binded into buttons that are returned from ServiceNow VA  so that if required to show in multilingual then the values can get dynamically binded.

Please find the screenshot below for SN VA and Ms Teams:
![image](https

[2021-06-18 15:55] Deepti886 opened #416 "Multi-flow output response type from SN VA is not rendered in MS Teams"
Hi All,

We have response type called Multi-flow output response type **which can be used to sequentially display two or more outputs (text, image, link, or HTML). Users can move from one output to the next through a provided navigation button** and then finally a response asking whether the above information helped me. I'm facing the issue in MS Teams that I'm not getting the initial set of respo

[2021-06-18 15:57] Deepti886 opened #417 "DateTime picker is rendering but without any Validations"
Hi All,

We are able to render a DateTime picker in MS teams but can someone suggest how can we manage the validations in MS Wrapper while submitting the date to ServiceNow VA. Also, when a user submits the date, the card should be updated with some message like 'Datetime submitted', so that after submitting user cannot go back and click on DateTime card again. And how can I show a Cancel button,

[2021-06-19 18:06] rvinothrajendran opened #418 "Multiselect Choice Input type for Bot Composer"
Hi @garypretty ,

Proposed new custom input type "Multiselect Choice Input"

Multiselect Choice Input type created based on the Adaptive Card

**Design Screen**

![image](https://user-images.githubusercontent.com/16264167/122651469-4c659980-d139-11eb-9e19-fd83415e6d14.png)

**Sample Output**

![image](https://user-images.githubusercontent.com/16264167/122651507-98184300-d139-11eb-9987-1ec3c3ce333a

[2021-06-30 17:31] vovanb commented on #301
do you have an update on it?

[2021-06-30 17:35] vovanb commented on #364
I added into   [Twitter Adapter Sample project](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/samples/Twitter%20Adapter%20Sample)    NotifyController : ControllerBase class
But when Try to call http://localhost:22205/api/notify it always return 404 error.
How did you created Proactive Message controller?
Why it is not listening in Twitter Adapter Sample ?

[2021-07-14 07:33] Akash-Chatti opened #432 "how to limit auto scrolling in chat window"
When the web chat bot sends a long adaptive card with menu along with the text message at the top, the chat window scrolls down hiding the text.

I need to limit the auto scroll of chat window to show the text message i.e., to scroll till start of message instead of end of message.

How to achieve this

[2021-07-14 07:43] Deepti886 opened #433 "turnContext is not coming in MS Wrapper"
Hi All,

As turnContext object is used to get the User details but we are unable to get the user's platform details in ServiceNow Controller of MS wrapper. Can someone provide any suggestion/solution to get the turnContext details in ServiceNow Controller in MS Wrapper.

[2021-07-14 09:13] rvinothrajendran commented on #433
@Deepti886 Have you checked Channel Data information

[2021-07-14 11:39] Deepti886 commented on #433
Hi @rvinothrajendran , but I am not getting turnContext itself in the Controller, hence could not check channel data information. How Should I proceed then?

[2021-07-15 07:55] rvinothrajendran commented on #433
@Deepti886 why you want to handle in the controller ? explain your use case ?

[2021-07-16 05:47] Deepti886 commented on #433
@rvinothrajendran I wanted to handle turnContext in the controller so that it can be used for exception logging if any exception occurs in controller. We wanted to log platform details of the user who has chatted as well while logging. Hence, it would be helpful if you could suggest some solution for this.

[2021-07-16 06:33] rvinothrajendran commented on #433
@Deepti886 turnContext has created by the Adapter if any error has occurred handle in the  ex : AdapterWithErrorHandler.cs class If any exception has raised before calling "ProcessAsync" In this case you can handle like
try
  {
      //throw new Exception("BotController Exception");
      await Adapter.ProcessAsync(Request, Response, Bot);
  }
  catch (Exception)
  {
      var activity = await Htt

[2021-07-19 15:10] aishwaryaumachandran opened #434 "Not able to connect with the Google Adapter via Dialogflow"
I am trying to connect the echo bot to the google adapter and it does not seem to work. There isn't a relevant error message as well. The following attached are the request and the debug payloads from the assistant.

I tried the ngrok or by deploying it and either did not work.

**REQUEST PAYLOAD**

`{
  "user": {
    "locale": "en-US",
    "userVerificationStatus": "VERIFIED"
  },
  "conversation

[2021-07-20 06:47] vovanb commented on #364
any chance to fix this issue?

[2021-07-21 00:24] aishwaryaumachandran commented on #434
Closing the issue as I found an alternative solution

[2021-07-21 00:24] #434 closed

[2021-07-21 00:27] aishwaryaumachandran commented on #366
@garypretty Thank you for this. We are almost nearing our upgrade and as per your suggestion. I replaced the adapter with the ActionsSDK one. I am successfully able to connect with the sample and the expected result.

In terms of the account linking scenario which I have some trouble with, Is there a specific configuration I need to follow for the Azure App Registration? I don't see that in the do

[2021-07-22 01:45] JustZeus opened #435 "The MessageBird adapter for WhatsApp does not work when using special Spanish characters"
@ahmetkocadogan I appreciate your contributions very much! Thanks for maintaining this adapter

I have managed to use the  MessageBird adapter for WhatsApp in a bot created using the composer bot, modifying the source code I made the adapter work properly with the Messagebird sandbox.

The problem is that the bot does not respond at all if I use words with special characters in Spanish such as Á,

[2021-07-22 06:30] Deepti886 commented on #433
@rvinothrajendran Thank you for your suggestion. Would like to also mention that we wanted to handle turnContext in the controller so that it can be used for logging of Chatscripts for the Users as well. We wanted to log platform details of the user who has chatted and in which platform he is chatting. Hence, it would be helpful if you could suggest some solution for this.

[2021-07-22 12:01] ahmetkocadogan commented on #435
Hello @JustZeus . I am glad if this adapter is useful for you, thank you.

I need to debug and test this cituation to identify the couse, but i am in holiday and will be using a computer next monday. I wanted to let you know so you don't think i am not watching :)

I'll update this issue when i test and identify this issue as soon as i can.

Have a good day.

[2021-07-26 04:13] Deepti886 commented on #433
@rvinothrajendran Would like to follow up on the above ask. Please let me know if there is any update on the above ask?

[2021-07-26 12:35] aishwaryaumachandran opened #436 "ActionsSDK - Retrieving token from the ChannelData"
Hi,

I was able to successfully connect with the Actions SDK adapter and even enable the account linking flow using the Azure AD v2. I was wondering if there was a way to get the token in the channel data?

Any leads are appreciated! Thanks!

[2021-07-27 09:48] ahmetkocadogan commented on #435
Hello @JustZeus

I tried the adapter with the letters you send in this issue, like below:

![image](https://user-images.githubusercontent.com/7287309/127133566-0eaa0d0e-ed16-4fb6-a847-09e581c4d121.png)

And looks like i can see the letters without a problem.

![image](https://user-images.githubusercontent.com/7287309/127133607-d3b42eba-5e3c-42ee-85b2-c996f073cd09.png)

I am not an expert about hos

[2021-07-27 20:47] JustZeus commented on #435
Hello! hope you had a great holiday, thank you very much for your support.

Oh, now I see that maybe is not because of the adapter, it could be the web server config instead.

The bot is hosted in an Azure Web App, I developed the bot using the bot framework composer application for windows, I started with the basic QnA template for C#. Then I modified the source code generated from the composer t

[2021-07-28 06:23] ahmetkocadogan commented on #435
Hello @JustZeus .

Since i can send and receive that special letters, i think you have one more option to try.

Run your bot project locally, setup ngrok, use ngrok url for webhook for WhatsApp sandbox, and type that letter in WhatsApp to the bot. Then inspect ngrok, you can see incoming network requests. If you don't see a webhook request is coming, then we can say it is MessageBird's API that do

[2021-07-28 08:12] Deepti886 commented on #433
@rvinothrajendran Would like to follow up to know if there is any update on the above ask?

[2021-07-29 12:50] CBavaliya opened #437 "EntityFramework storage: Getting an error while parse json string into Conversation state object"
I am starting to use **Bot.Builder.Community.Storage.EntityFramework** package to store ConversationState and UserState in sql databsae.

It is implemented in my application and also for both state data is stored in sql database. However at some point i am getting following error while parse json string of ConversationState into object.

**The reader's MaxDepth of 64 has been exceeded. Path 'Dialo

[2021-07-30 12:32] rvinothrajendran commented on #433
@Deepti886 Have you checked var activity = await HttpHelper.ReadRequestAsync(Request);
"activity" info ?

![image](https://user-images.githubusercontent.com/16264167/127653433-ce9dbe37-6e92-43a1-a8f5-36c54d1e209c.png)

[2021-07-30 12:34] rvinothrajendran commented on #436
Please post general question in https://stackoverflow.com/

[2021-07-30 12:34] #436 closed

[2021-07-30 12:37] rvinothrajendran commented on #432
Please post general questions in https://stackoverflow.com/questions/tagged/botframework

[2021-07-30 12:37] #432 closed

[2021-07-31 06:23] Deepti886 commented on #433
@rvinothrajendran Did you mean to put and check var activity = await HttpHelper.ReadRequestAsync(Request);
"activity" info in ServiceNowController.cs class of MS Wrapper solution or in the default BotController.cs class?

[2021-08-02 19:31] JustZeus commented on #435
I tried with an Azure Functions like Webhook and MessageBird correctly sends the messages with the special characters of Spanish, the problem is not in MessageBird.  I still do not have my registered number

I configured my development environment to debug the application locally and use ngrok as you mentioned, when I send normal text it responds with 200 responses but as soon as I use some
charac

[2021-08-03 06:53] ahmetkocadogan commented on #435
Hello @JustZeus .

I'll debug the adapter again. With the last info you give, it looks like adapter cousing the issue. Interesting part is, i was able to send and receive that letters without any issue.

I'll dive deeper and debug line by line. I'll let you know when i'm done.

Thank you.

[2021-08-03 14:08] JustZeus commented on #435
Thank you @ahmetkocadogan ,  you are exceptional!

If you want to replicate the environment completely, you can create a project using the bot framework composer, a simple template like the one from LUIS or QnA, and edit the generated code by adding the adapter.

Perhaps the problem is in the integration of the adapter in such projects.

I am here to support you if you need it.

[2021-08-03 15:54] ahmetkocadogan commented on #435
Hello @JustZeus .

I think i find the issue, i still didn't have time to debug but i inspected my code. Because it gives 401, it should be request verification failing.

This is the part that i read body of the request with StreamReader:

![image](https://user-images.githubusercontent.com/7287309/128046587-745fee4f-4b72-4830-8356-bc84dcf8a7a0.png)

And this is the method i call to verify the messa

[2021-08-17 07:56] DainHeart opened #438 "Infobip WhatsApp - An error occurred while sending the request."
I have been running the Infobip WhatsApp adapter for over a year now, and consistently the bot throws the below error.

The bot throws this randomly depending on usage. The stack trance is always exactly the same as seen below.

`at System.Net.Http.HttpConnection.SendAsyncCore(HttpRequestMessage request, CancellationToken cancellationToken)
at System.Net.Http.HttpConnectionPool.SendWithNtConnectio

[2021-08-17 20:34] vovanb commented on #301
@garypretty  any update on this?

[2021-08-17 23:16] JustZeus commented on #435
Thank you very much for your support! with your recommendations I was able to solve my problem, now it works wonderfully.
I created a pull request if you are interested in seeing my solution and comment on it if you think it's necessary.

Again, I really appreciate the time you invested in this situation 👍

[2021-08-18 05:25] ahmetkocadogan commented on #435
@JustZeus I am so sorry for making you wait this long. I couldn't have time to debug it again and update you on this.

I am so glad that you resolved the issue,  really appreciate your efforts to create that pull request, and making me feel useful with using this adapter :)

 Have a nice day.

[2021-09-01 04:13] csmuthukuda commented on #438
@DainHeart do you know how to get **App secret** as mentioned here https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Adapters.RingCentral/README.md
thanks in advance

[2021-09-01 06:36] csmuthukuda commented on #335
Hi @ivanursic-infobip  I'm also seeking a way of getting the app secret..any of you have found a lead? @YeisonsUarez @adrwer @Silu321

[2021-09-01 08:23] adrwer commented on #335
Hi @csmuthukuda. I had to contact my Infobip account manager who set it up and emailed it to me.

[2021-09-01 08:27] csmuthukuda commented on #335
thank you for the info :)

[2021-09-01 09:02] DainHeart commented on #438
@csmuthukuda hi there. Yes we have created the secret key and had Infobip link it to the number. The WhatsApp adapter is working. Users message the bot and the bot replies on WhatsApp. This error occurs a few times a day though. We have deployed the bot onto different WhatsApp adapters such as Twilio and the same error does not occur. Seems to be an issue with the Infobip Adapter. Just trying to g

[2021-09-13 14:56] C0d1ngJammer opened #441 "No outgoing activities "SentActivities" are being created"
Hello,
so my alexa skill works very well thanks to this awesome lib/framework. Yet since I have update my application I cant get "any" response from the bot back.
Iam searching for ~8 hours and couldnt find anything  which causes this behavouir. Also I have referenced almost all microsoft-bot projects manually in my project to find the bug => This was a mess but its done. Upgrade, Downgrade, loadi

[2021-09-13 22:57] C0d1ngJammer commented on #441
I have solved it. Yet I dont know how I solved it. The problem seems to be with in my startup and DialogAndWelcomeBot-classes.
No glue whats happening, but iam going to sleep now and update the ticket tomorrow.
-C0dn1gJammer

[2021-09-14 13:00] C0d1ngJammer commented on #441
Still no glue what happend. Yet I have no time to invest anymore.

[2021-09-15 11:36] lucasbald opened #442 "InfobipWhatsAppToActivity is not handling the Message Template Button reply"
The InfobipWhatsAppToActivity is not being able to get the user reply of a Message Template button thus the Chatbot does not recognize it as a user Activity.

To solve this issue I thought on having this new piece of code in the: InfobipWhatsAppToActivity.cs file
[code]

[2021-10-03 22:18] DarylSmith opened #443 "Exception if adaptive card property is removed from AdaptiveCardPromptSettings constructor"
First I would like to say that this is an amazing library, and has made a huge difference on my current project.
One issue, I seem to be having though, is that when implementing the AdaptiveCardPrompt, it needs to add 2 separate adaptive cards -- one created when the AdaptiveCardOptions are initialized, and the other when the required card is being displayed.

 I have class in my bot called CardBu

[2021-10-11 11:13] programmercave0 opened #444 "Infobip Viber unable to receive and send message"
When I try to send message from Viber app to bot, I receive error message - `An error occurred while writing to logger(s). (Input string was not in a correct format.)` Exception type - `System.FormatException` and failed method is - `Bot.Builder.Community.Adapters.Infobip.Viber.ToActivity.ToViberActivityConverter.Convert`.

I am getting same error in @ivanursic-infobip sample after setting appsett

[2021-10-11 13:22] programmercave0 commented on #444
@rvinothrajendran I have tried with that too and getting same error.

[2021-10-12 07:19] programmercave0 commented on #444
@ivanursic-infobip , @garypretty can you please help here.

[2021-10-19 16:54] rvinothrajendran commented on #418
Merged

[2021-10-19 16:54] #418 closed

[2021-10-19 16:57] rvinothrajendran commented on #401
Merged